[2018-03-22 15:45] claudiodangelis opened #2 "Add a random path to make the URL unguessable"
This was suggested by an HN user: https://news.ycombinator.com/item?id=16649336

[2018-03-22 16:25] rohand32 opened #3 "panic: bind: cannot assign requested address"
I am getting following error after selecting the interface

![image](https://user-images.githubusercontent.com/12265908/37783531-bd7c58bc-2e1b-11e8-9b6f-2acf999508a6.png)

[2018-03-22 17:21] r-chris commented on #3
Out of curiosity - has this been tested on a Mac ?

[2018-03-22 17:27] rohand32 commented on #3
I am testing it on Ubuntu 16.04

[2018-03-22 17:36] claudiodangelis commented on #3
Thanks for reporting, @rohand32. It seems that the function that is supposed to return a random available port is not working, because it returns `0` (the zero-value of type `int`).

How did you install the tool? Thank you

[2018-03-22 18:02] claudiodangelis commented on #3
Ok, glad to hear you found a workaround, I will look into this anyway, thanks!

I'm leaving this thread open for now just in case someone else bumps into the same problem.

Claudio

[2018-03-22 18:34] claudiodangelis opened #4 "Add support for IPv6"

[2018-03-22 19:33] jjnilton opened #6 "QR code not scannable by Nintendo 3DS"
The generated QR code is not identified by the Nintendo 3DS (tested on a O2DS) but if I generate the code for the same URL on [this site](https://www.qr-code-generator.com/), the QR code works.

The phone scans both codes, but not sure why the [one generated by the program](url
![image](https://user-images.githubusercontent.com/228200/37793898-b62c815e-2dee-11e8-82ef-62d66dbb3d6b.png)
) does not w

[2018-03-22 20:02] claudiodangelis commented on #6
Hi, thanks for reporting.

Can you please try scanning this?

![image](https://user-images.githubusercontent.com/941963/37795296-61d90a2a-2e14-11e8-9e5b-901d9fef14ec.png)

[2018-03-22 20:35] efung opened #7 "Generated code does not scan reliably with Source Code Pro font"
I'm using iTerm2, with Source Code Pro as my monospaced font. The QR code doesn't scan reliably, as there's some gaps where the pattern should be continuous. Is there a Unicode char that is guaranteed to take up the entire height/width that could be used?

![screen shot 2018-03-22 at 4 34 15 pm](https://user-images.githubusercontent.com/301094/37796958-e3480c1c-2dee-11e8-90a6-52bdbd03c4c0.png)

[2018-03-22 20:49] sa7mon commented on #7
(Side Note: ) What are your background and font colors? I like the theme.

[2018-03-22 21:17] jjnilton commented on #6
Hey, unfortunately it didn't work either.

Nintendo shows this QR code as an example for testing, if it helps (and it works):

![image](https://user-images.githubusercontent.com/228200/37798879-ca253a80-2dfc-11e8-98b3-4fdac0b582e8.png)

Got it from [here](http://en-americas-support.nintendo.com/app/answers/detail/a_id/371/~/error-message%3A-this-qr-code-is-not-supported).

Thanks for sharing the s

[2018-03-22 21:24] claudiodangelis commented on #6
Ok thanks, I will research this soon!

Il gio 22 mar 2018, 22:18 José Júnior <notifications@github.com> ha scritto:

--
Claudio d'Angelis

claudiodangelis@gmail.com
Skype: claudiodangelis
Phone: (+39) 329 2933194

[2018-03-22 21:45] zdrummond opened #9 "Support ip4 when network device has ip6 as well"
When running it, I get the below (with my ip6 address redacted)

`2018/03/22 14:41:25 listen tcp: address <ip6 address>:50877: too many colons in address`

I assume this is because it has grabbed the inet6 settings. However, using the same device I also have inet and it would likely work just fine using those.

[2018-03-22 21:52] claudiodangelis commented on #9
Thanks for reporting, will look into this soon.

[2018-03-22 22:16] rberenguel commented on #3
localhost being or not being mapped with 127.0.0.1 is kind of a regular issue between Mac and Linux from my experience too

[2018-03-22 23:10] jerson opened #10 "MP3 support"
when sending multimedia files, for example .mp3 and accessed from the shared url the server responds by sending the headers

the problem is in this line

https://github.com/claudiodangelis/qr-filetransfer/blob/master/main.go#L56

http.ServeFile starts the data transmission but when it is a large file it does it in the background and the connection closes in the line

https://github.com/claudiodang

[2018-03-22 23:28] claudiodangelis commented on #10
If you could add some more info that would be great! For example, do you get an error? Does the QR show up? Could you post the exact command?

Thanks

[2018-03-23 01:20] gonejack opened #11 "Server could not start on latest mac OS with latest go runtime"
[code]

[2018-03-23 01:57] ginhton opened #12 "QR code color reverse in terminal"
My terminal has a white background, and a black foreground-colour. And then the QR code cannot be recognized.
![image](https://user-images.githubusercontent.com/17196141/37807473-97ca803e-2e80-11e8-9a29-1e41de86be06.png)

[2018-03-23 01:59] cIaudiodangeIis commented on #12
That's your problem, not mine.

[2018-03-23 01:59] cIaudiodangeIis commented on #11
Then downgrade to a older macOS. It's common sense.

[2018-03-23 01:59] ginhton opened #13 "the server closed before I choose download in my phone's browser."
I scan QR code in my browser. And choose download that file. Then the server closed, I have no idea how to download that.
Thank you for any suggestions.

[2018-03-23 02:00] cIaudiodangeIis commented on #10
You know what? You're useless. I don't want to see you report another issue ever again.

[2018-03-23 02:02] cIaudiodangeIis commented on #7
Why don't you go and figure that out for yourself. Go away.

[2018-03-23 04:37] bvaughn commented on #7
I've reported @cIaudiodangeIis to Twitter as an abusive account.

Do not confuse this user with @claudiodangelis. Although the names look the same on GitHub.com, this is a troll account. The second letter is an upper case "i" rather than a lower case "l".

[2018-03-23 04:37] bvaughn commented on #10
I've reported @cIaudiodangeIis to Twitter as an abusive account.

Do not confuse this user with @claudiodangelis. Although the names look the same on GitHub.com, this is a troll account. The second letter is an upper case "i" rather than a lower case "l".

[2018-03-23 04:45] bvaughn commented on #11
Please report @cIaudiodangeIis to GitHub as an abusive account.

Do not confuse this user with @claudiodangelis. Although the names look the same on GitHub.com, this is a troll account. The second letter is an upper case "i" rather than a lower case "l".

[2018-03-23 04:45] bvaughn commented on #12
Please report @cIaudiodangeIis to GitHub as an abusive account.

Do not confuse this user with @claudiodangelis. Although the names look the same on GitHub.com, this is a troll account. The second letter is an upper case "i" rather than a lower case "l".

[2018-03-23 07:55] joyme123 commented on #13
[see this pr](https://github.com/claudiodangelis/qr-filetransfer/pull/21)

[2018-03-23 08:30] barryz commented on #11
same problem on mac os platform

[2018-03-23 09:45] claudiodangelis commented on #10
Sorry @jerson, as promptly pointed out by @bvaughn, the person who replied to you is a troll account managed by a person with a weird sense of humor.

As per the problem you report, I will look into it later today!

[2018-03-23 11:04] fatso83 opened #23 "Unable to install using instructions"
By following the README I don't get an executable in my PATH. Tips?

[code]

[2018-03-23 11:09] claudiodangelis commented on #23
Hi @fatso83, it seems there is a typo, there it's `qr-` not `q2r-`, can you please confirm?

[code]

Thanks,
Claudio

[2018-03-23 12:04] evilsocket opened #24 "feature request: add support for HTTPS"
Downloading files over HTTP is never a good idea, even if you're just downloading from your own laptop. Fortunately Go makes super easy having a HTTPS server, feel free to steal the code [here](https://github.com/bettercap/bettercap/blob/master/modules/http_server.go) and [here](https://github.com/bettercap/bettercap/blob/master/tls/cert.go#L14) ^_^

[2018-03-23 12:50] Dolondro commented on #13
In the case of some barcode scanning applications, the app will do it's own internal fetch to the URL rather than directly referring you to the browser.

This seems to be the case with the commonly used `Barcode Scanner` application on Android, and I suspect it may be done automatically by most apps that use the library that it seems to be using underneath, [Zxing](https://github.com/zxing/zxing)

[2018-03-23 13:17] avin commented on #24
what cert do you gonna use for local net IP address??

[2018-03-23 13:26] evilsocket commented on #24
The code that I linked can either use pre generated PEM files or just automagically generate new ones and use them. On the phone side you should just need to either add them to the system store (and have them added as permanent security exceptions), or just allow the certificate temporarily in the browser session.

[2018-03-23 13:34] avin commented on #24
too overwhelmed

[2018-03-23 13:49] evilsocket commented on #24
lulz it's just that Go's crypto library makes this very easy, so why not? :D

[2018-03-23 13:57] fatso83 commented on #23
Edited (the command line was correct, just error when making issue). The files are checked out correctly too, in `~/go/github/...`

[2018-03-23 14:07] claudiodangelis commented on #23
What does `echo $GOPATH` returns?

[2018-03-23 14:28] fatso83 commented on #23
This was just me not being familiar with the Go universe, and you set me on the right `PATH` (pun intended) :cat:

I was expecting Go to automatically put these binaries on a global path, much like `npm install -g` would do, but it puts these files in `$GOBIN`, defaulting to `$GOPATH/bin` (where `GOPATH` defaults to `~/go`). Neither of these were set, but they do have defaults, so setting them did

[2018-03-23 14:28] #23 closed

[2018-03-23 14:50] efung commented on #7
@sa7mon Background is #002833 and foreground is #b2b2b2. I installed http://ethanschoonover.com/solarized but don't remember if I further customized it.

[2018-03-23 14:52] efung commented on #7
From looking at the underlying library used to generate the QR codes (https://github.com/mdp/qrterminal/blob/master/qrterminal.go#L13-L16), there is the option to use half or full blocks.

Perhaps this could be configurable via an environment variable or an .rc file?

[2018-03-23 15:01] claudiodangelis commented on #23
Glad to hear, yeah, might be a good idea to add that note for go's newcomers :-)

[2018-03-23 16:45] so77id commented on #11
i have the same problem on mac os 10.13.3

[2018-03-23 16:51] rafa-acioly commented on #2
what about using the `time` package to get the `UnixNano()` value and use as path fo generate the URL?

[code]

[2018-03-23 17:11] mingrammer commented on #9
Same here

[2018-03-23 21:36] epastor commented on #11
Observing the same problem on MacOS 10.12.6

[2018-03-24 11:08] drevilt opened #29 "automatic network interface detection"
On Linux under `/sys/class/net/<iface>/` there exists a directory called `wireless` if this interface is wifi capable.

Maybe you can reduce the number of available network interfaces to only those who are wireless, or in case of only one such interface, entirely skip the selection.
Only if run on linux of course.

[2018-03-24 14:19] tssva commented on #29
I have to vote against this idea because it eliminates the existing ability to transfer from a wired computer to your phone.

[2018-03-24 17:01] drevilt commented on #29
It could be implemented as such, that if no wireless device is detected, the behavior is unchanged and still shows the full list. Also you could only show interfaces whos link-state is `UP`, meaning they are connected.

This way wired computers can still be used for this as long as they dont have an active wireless connection to another network.

You can get the link state of a network interface v

[2018-03-24 19:57] tssva commented on #29
I do agree with the part that down interfaces should be filtered out of the proposed list. This info is available cross-platform through the golang net library.

[2018-03-25 02:52] antoaravinth commented on #9
Yes getting the same issue as well on my mac.

[2018-03-25 12:24] drduan opened #32 "How to deal distorted qr code [windows can't recognize]"
![2018-03-25_202329](https://user-images.githubusercontent.com/7875572/37874929-9913f696-306a-11e8-8acf-03bd234fd245.png)

[2018-03-25 15:06] lunny opened #33 "Support transfer a link"
I would like qr-filetransfer also support
[code]
That's easy but that I can transfer anything via the same tool.

[2018-03-25 16:57] hellozee commented on #33
@claudiodangelis If no one hasn't taken this up, I would like to give this a shot.

[2018-03-25 17:26] claudiodangelis commented on #33
Thanks for this feature request @lunny, indeed it might be helpful, although I'm not entirely sure it fits the tool's purpose, maybe @hellozee can take it up and experiment with it?

Thanks to both!

[2018-03-25 18:13] hellozee commented on #33
@claudiodangelis made a PR regarding that, hoping the changes I made is enough and comply with the coding standard of the project.

[2018-03-25 18:51] claudiodangelis commented on #32
Hi @drduan, thanks for reaching out. It looks that the font you are using is not monospace, can you please confirm that:
1. the font is not monospace
2. it works with a monospace font
?

Thank you!

[2018-03-25 18:56] claudiodangelis commented on #32
Also, it looks that you are using an IPv6, for which support is still buggy (there is an issue already opened for this: https://github.com/claudiodangelis/qr-filetransfer/issues/4), so it's probably not going to work even after getting the QR code, sorry for that! I hope to fix the problem with IPv6 real soon.

[2018-03-25 19:13] claudiodangelis opened #35 "Implement as drag-and-drop desktop app"
Not all users are tech-savvy enough to use command-line tools, what about bringing the concept of "scan & transfer" to regular desktop apps?

There might be a couple of usages, for example:

1. User launches the app, the main window is just a panel through which they can drag and drop the file(s) onto, or click a good old "Select file(s)" button
2. User drags the file(s) onto the app icon itself (

[2018-03-26 01:32] lunny commented on #33
@hellozee @claudiodangelis thanks

[2018-03-26 02:57] FrontMage commented on #35
I think if the user is on Mac or Windows, many im clients have this file transporter which allows you simply transfer files or other stuff to your phone.
Which skips the scan part, because users have native apps installed both on pc and phone.
---
However, I suppose there is a need for transferring files from remote server to local, I'm preparing to fork and make a version works on a remote server

[2018-03-26 03:00] FrontMage commented on #24
What if I'm downloading from a remote server? I think this is a good feature to add.

[2018-03-26 13:34] CodeBrauer commented on #11
Same here:
[code]

`OS X 10.11.6,  zsh, go version go1.10 darwin/amd64`

[2018-03-26 15:47] claudiodangelis commented on #3
@rohand32 can you please pull the new changes on the master branch and try again? I merged a change by @tssva which might be solve your issue.

Thanks

[2018-03-26 16:43] andrerfneves commented on #9
Can confirm the same issue on macOS High Sierra (v10.13.3).

[2018-03-26 16:45] claudiodangelis commented on #9
This is being worked on, please hang in there, thank you.

[2018-03-26 16:48] andrerfneves commented on #9
@claudiodangelis no rush my man. Just wanted to give my take on the tool. Excited for the project. Keep up the good work!

[2018-03-26 16:50] claudiodangelis commented on #9
Thanks! As you can see there are many pending pull requests that fix pretty much everything you people have been reporting, so I'm now reviewing and testing; thanks for your patience

[2018-03-26 18:20] claudiodangelis commented on #11
Hi, a fix by @tssva is being tested. Can someone please help testing it?

The code above will fetch the changes to test, change branch, build the tool and transfer the README of the project.

Instructions:

[code]

Please let me know how it goes, thanks :pray:

[2018-03-26 18:21] claudiodangelis commented on #9
Hi, a fix by @tssva is being tested. Can someone please help testing it?

The code above will fetch the changes to test, change branch, build the tool and transfer the README of the project.

Instructions:

[code]

Please let me know how it goes, thanks :pray:

[2018-03-26 18:22] claudiodangelis commented on #4
Hi, a fix by @tssva is being tested. Can someone please help testing it?

The code above will fetch the changes to test, change branch, build the tool and transfer the README of the project.

Instructions:

[code]

Please let me know how it goes, thanks :pray:

[2018-03-26 18:24] andrerfneves commented on #9
@claudiodangelis don't think it's related to the tool, but I'm running into:
<img width="866" alt="screen shot 2018-03-26 at 2 23 48 pm" src="https://user-images.githubusercontent.com/2574011/37924955-5dc24b64-3101-11e8-8d3f-3b8d979a8d52.png">

[2018-03-26 18:35] claudiodangelis commented on #33
Hi @lunny, I thought that this is a bit out of scope, so I would prefer not to implement it into `qr-filetransfer`.

Here's a faster option that does not even require pc and mobile to be on the same network. It requires the [qrencode](https://fukuchi.org/works/qrencode/) utility and [ImageMagick](https://www.imagemagick.org/script/download.php), which is probably already installed on your system:

[2018-03-26 18:35] #33 closed

[2018-03-26 18:56] monouser7dig commented on #11
`[7] en0` works for me now

[2018-03-26 20:48] kernelschmelze commented on #9
@claudiodangelis pr #30 work's for me and fixed the `too many colons in address` issue

[2018-03-26 21:08] claudiodangelis commented on #24
As of now, the tool won't work on remote server, as both ends are required to be on the same network.

However, I'm thinking about adding an `-external` (or `-remote`) flag which binds the server to the publicly accessible IP address of the host, to enable downloading from a remote server and in that case HTTPS support will be mandatory.

[2018-03-26 21:45] claudiodangelis commented on #29
Hi @drevilt, the very first implementation of this tool was relying on a library that parses the directory you point out, but it would not work on other platforms, so I gave up that idea and chose to let the users choose. All in all, it's just a one-time decision for users, it won't affect the UX too much.

I already merged a PR from @tssva that filters out down interfaces as per your proposal, th

[2018-03-26 21:48] claudiodangelis commented on #13
As I mentioned in [this comment](https://github.com/claudiodangelis/qr-filetransfer/pull/21#issuecomment-376315246), I would like to retain the auto close ability. Let's continue researching a solution, I'm pretty sure we will find one; thanks for showing interest in this!

[2018-03-26 21:54] jakebacker opened #39 "Use ipv4 addresses instead of ipv6"
On Windows, the program uses ipv6 on most/all network interfaces. This seems to cause problems with both qr code readers as well as connecting to the computer

[2018-03-26 22:37] claudiodangelis commented on #39
Which problems are you experiencing? IPv6 support was buggy until a couple hours ago, if you've run into these problems prior to that maybe you can try again...?

[2018-03-26 22:42] jakebacker commented on #39
I just managed to make it work. It seems like the latest commit actually fixed it somehow.

[2018-03-26 22:47] claudiodangelis commented on #39
Oh, great. I think we can close this thread now, thanks.

[2018-03-26 22:47] #39 closed

[2018-03-27 01:56] FrontMage commented on #24
@claudiodangelis checkout my fork [here](https://github.com/FrontMage/qr-filetransfer) supporting by `-remote`.

[2018-03-27 03:48] mattn commented on #32
This is caused by font. The letters using qrterminal are ambigous width in UTF-8. you should use monospace font. Or patch this.

[code]

[2018-03-27 03:50] mattn commented on #32
BTW, current implementation of qrterminal is wrong direction to draw.

https://github.com/mdp/qrterminal/pull/6

So some camera application failure to scan QR code.

[2018-03-27 03:56] mattn commented on #32
@claudiodangelis if you want this patch, I'll send PR.

[2018-03-27 08:00] benvaljean opened #42 "Feature request: Add support for 3rd-party file hosts"
It would be great if instead of hosting the file it could be auto uploading to a file sharing host.

https://www.file.io/  has an API that is free.

[2018-03-27 08:20] claudiodangelis commented on #42
Hi, mm, I'm not sure I understand this feature: you mean that something like:

[code]

causes myfile.pdf to be uploaded to file.io?

[2018-03-27 08:47] claudiodangelis commented on #10
@jerson I'm closing this issue as there is another thread where a solution to this problem is being discussed: https://github.com/claudiodangelis/qr-filetransfer/issues/13

Let's continue there, thank you!

[2018-03-27 08:47] #10 closed

[2018-03-27 08:55] claudiodangelis commented on #6
@jjnilton can you please try to scan these two codes and tell me which one works (level H, M or neither one):

**Level H**
![image](https://user-images.githubusercontent.com/941963/37957064-4f6a495c-31ad-11e8-8279-0657663635f2.png)

**Level M**

![image](https://user-images.githubusercontent.com/941963/37957076-57247938-31ad-11e8-9b5e-5e668b611809.png)

[2018-03-27 09:08] hellozee commented on #33
@claudiodangelis no worries

[2018-03-27 09:10] claudiodangelis opened #43 "Automatically choose the network interface if there is only one candidate"
The [`getAddress()`](https://github.com/claudiodangelis/qr-filetransfer/blob/e9cc6de9ba3e1ca35e6711f8fd4bd8054bd06219/util.go#L45) function chooses the network interface to use. The current workflow is:

1. Get all network interfaces
2. Filter out those that won't work:
    - virtual eth, loopback, docker, bridge, etc
    - interfaces that are down
3. Ask the user which one they want to use
4. Set

[2018-03-27 09:22] benvaljean commented on #42
Yes, thats correct. The file.io url is then used to create the QR code.

[2018-03-27 12:32] jjnilton commented on #6
Hey, @claudiodangelis, neither one worked. Same thing as the one before.

[2018-03-27 12:35] claudiodangelis commented on #6
😔

[2018-03-27 12:46] jjnilton commented on #6
@claudiodangelis would the color interfere? I tried one QR code generated on https://www.nayuki.io/page/qr-code-generator-library and it worked. I used the [default settings](https://user-images.githubusercontent.com/228200/37968092-9d7c7502-31a3-11e8-97c0-70ecf65bc2be.png) and since it's open source, maybe it helps to find the solution.

[2018-03-27 14:02] hellozee commented on #12
@claudiodangelis should I take this?

[2018-03-27 14:04] claudiodangelis commented on #12
Sure @hellozee, please feel free to take this, it would be a great help.

[2018-03-27 14:10] claudiodangelis commented on #42
Got it, but what I don't understand is: what would be the benefit of uploading to the cloud and then downloading from the cloud rather than directly transfering from desktop to mobile?

[2018-03-27 14:49] gs0510 opened #46 "Add tests for the code."
If the code has tests, we can add jenkins so that merging PRs becomes easier.

[2018-03-27 16:09] #43 closed

[2018-03-27 16:20] claudiodangelis commented on #43
Thanks @gs0510!

[2018-03-27 16:27] claudiodangelis opened #47 "Add -quiet flag to suppress non critical output"
If the `-quiet` flag is passed, all output should be suppressed except:

1. The QR code
2. The network picker dialog
3. Fatal errors

[2018-03-27 16:40] benvaljean commented on #42
You can transfer files without needing to be on the same network. For
instance when using a remote host, or when the wifi network has layer 2
routing disabled.

On Tue, Mar 27, 2018 at 9:10 PM, claudiodangelis <notifications@github.com>
wrote:

[2018-03-27 16:44] claudiodangelis commented on #42
Ok thanks, now it's clear. I was already thinking about adding a `remote` (or `external`) flag to lift the same-network restriction (for example: you want to transfer files from a remote host connected via ssh); my idea was to bound the server to the external IP in that case, but that would make an HTTPS connection mandatory.

Using a file sharing host as a middleware is a pretty good solution, ma

[2018-03-27 16:48] claudiodangelis commented on #24
Please have a look at this thread, this is an interesting idea which can be used to support HTTPS connections: https://github.com/claudiodangelis/qr-filetransfer/issues/42

[2018-03-27 17:43] evilsocket commented on #24
@claudiodangelis I'm not sure I understand the reasoning behind this:

    However, I'm thinking about adding an -external (or -remote) flag which binds the server to the publicly accessible IP address of the host, to enable downloading from a remote server and in that case HTTPS support will be mandatory.

In my opinion HTTPS should be **always** mandatory (or at least the *default* behaviour tha

[2018-03-27 18:54] evilsocket commented on #35
Q: what's your plan of implementing cross platform d&d support? if you found a framework or something that makes that "easy", then i definitely think this is a great feature to implement, otherwise it might be quite complicated to implement (and support across os updates) from scratch. In this second case, the question is: is it worth it? m2c

[2018-03-27 20:41] aust-n commented on #35
I think a drag and drop functionality _should_ be implemented simply as it adds to the app experience. You hit the nail on the head when you said that command-line execution of the app can be tedious for the non-tech-savvy. The functionality adds accessibility and ease of use to the app _however_, it might be fairly difficult to implement,

[2018-03-28 06:16] beac0n commented on #13
@claudiodangelis I'm having the same Issue.
I agree, that the feature of auto closing should not be removed.
However, couldn't we add a command line parameter which disables the auto-close feature?
That way the user can decide for themselfs what to use

[2018-03-28 09:06] claudiodangelis commented on #13
Agreed @beac0n, while we work out a definitive fix for this, we can have a flag that prevents the tool from automatically closing.

The patch would look like this:

[code]

Usage would be:

[code]

Thoughts? Maybe we can find a better flag name for `autoclose` (or for using a complement)?

To @joyme123: you submitted a PR for this issue a few days back, do you want to apply these changes?

[2018-03-28 09:22] FrontMage opened #51 "Scan QR code to insert a string to clipboard?"
Just a thought, wouldn't it be nice to just scan to the clipboard?

---

For example, scan to copy the result of a grep of a big log file.

[2018-03-28 09:26] claudiodangelis commented on #51
As I suggested to another user who was proposing a similar feature, this could be easily achieved with a combination of the `qrencode` and `display` utilities:

[code]

Please feel free to close this thread if this answers your question!

[2018-03-28 09:29] claudiodangelis commented on #7
I still have to look into this, will do soon hopefully, thanks for your patience!

[2018-03-28 09:33] FrontMage commented on #51
That is a good answer, closing it.

[2018-03-28 09:33] #51 closed

[2018-03-28 22:55] tssva commented on #13
The parallel-downloads branch on my fork fixes this issue. At least for ZXing. In my testing it has also been successful in allowing parallel downloads to succeed while still allowing for auto-closing. I need more testing to be done. So far the parallel downloads have only been tested using Chrome 65 on Android. Also as is it allows multiple clients to connect and when the first one completes a do

[2018-03-29 13:39] claudiodangelis commented on #24
@evilsocket  there is no complexity other than those you summarized earlier on this thread, and to be honest, _technical_ complexity is not a even concern. The problem, which by the way I'm perfectly fine with, might be the big trade-off between security and user experience: if you want to quickly send yourself a 150k PDF file over your own house network, you should not be bothered to add a securi

[2018-03-29 14:02] evilsocket commented on #24
Then you only need to use the code I linked to generate the certificates and [this part](https://github.com/bettercap/bettercap/blob/master/tls/sign.go#L52) to sign them with a qr-filetransfer owned CA (that you can generate with the same exact code). The user can just add that CA to the system store and it's done ^_^

Or, since the cert is [already generated as CA itself](https://github.com/bette

[2018-03-29 15:07] salgadobreno opened #52 "Server closes before download is completed"
<img src="https://user-images.githubusercontent.com/397315/38094085-34011e74-3343-11e8-9fe1-111cc358f031.png" width="250">

I was trying to send some audios to my phone, on the first file, I got the behavior depicted in the image on the first try and on the second one the download finished successfully, when transferring the second audio I think I tried 3 times and got this behavior the 3 times, I

[2018-03-29 15:46] claudiodangelis commented on #52
Hi, I think you are affected by this issue: https://github.com/claudiodangelis/qr-filetransfer/issues/13

Please check the last comment of that thread, the user has a working solution on their fork which needs testing, maybe you can have a look?

I will check It out myself in a few hours, thanks!

[2018-03-29 18:15] tssva commented on #13
Found a couple of issues with the code. As is it does happen to allow the transfer to complete sometimes but not consistently. Know the issue and will be updating the code today.

[2018-03-31 14:13] claudiodangelis commented on #12
Hi @ginhton, @hellozee and @tssva have worked on this, you should be able to use it with a white background now.

Could you please pull the latest changes and try?

Thanks for your patience!

[2018-03-31 14:19] #47 closed

[2018-04-02 16:45] salgadobreno commented on #52
Hey @claudiodangelis, sry for the delay, I've tried @tssva's branch and seems it's fixed there :+1: My only comment is that my previous install was running on go 1.6.3, I then tried building it on 1.7 and finally on 1.10 for it to build. Thank you both.

[2018-04-02 16:45] #52 closed

[2018-04-03 19:37] I-Dont-Remember commented on #46
I added a small amount in #26 , but since I'm newer to developing I'd need help from someone who knows what they're doing to flesh it out more

[2018-04-04 15:32] labdsf opened #58 "Add an option to upload file"
If no filename is provided, generate a link to upload form instead, so it is possible to upload a file from phone to the server.

[2018-04-04 15:36] claudiodangelis commented on #58
Hi @labdsf, thanks for the suggestion, someone is already working at this, please follow this thread: https://github.com/claudiodangelis/qr-filetransfer/pull/8

[2018-04-05 23:11] NatoBoram commented on #32
QR Code looks good, and IPv6 worked perfectly.

![qr-powershell](https://user-images.githubusercontent.com/10495562/38396153-66e70e2c-3904-11e8-9c76-d0236c88fdf9.PNG)

[2018-04-05 23:18] NatoBoram commented on #24
Using the public-facing IPv6 of the machine would be a good idea to allow `-remote`. And if IPv6 is used by default, the `-remote` might not even be necessary! As for the certificate, a "one-time, set-it-and-forget-it configuration" is the best option one could wish for.

If you want to add more mobile devices later on, maybe a command to send the required CA to import can be added as a command. F

[2018-04-06 06:07] claudiodangelis commented on #32
Thanks @NatoBoram, let's wait to hear from @drduan then we can close this.

[2018-04-06 09:04] claudiodangelis opened #60 "Add versioning"

[2018-04-06 09:05] claudiodangelis opened #61 "Add contributions guidelines"

[2018-04-06 09:12] claudiodangelis commented on #13
Hello @ginhton @Dolondro @beac0n and @jerson, could you please help testing the fix provided by @tssva?

Instructions:
[code]

Thanks :+1:

[2018-04-06 09:13] claudiodangelis commented on #3
I'll close this one as we stopped receiving reports of the bug.

Many thanks for reporting, @rohand32!

[2018-04-06 09:13] #3 closed

[2018-04-06 09:55] Dolondro commented on #13
I can confirm that this fixes the issue for me :+1:

[2018-04-08 19:48] #61 closed

[2018-04-08 19:49] claudiodangelis commented on #61
https://github.com/claudiodangelis/qr-filetransfer/blob/master/CONTRIBUTING.md

[2018-04-09 19:11] NatoBoram commented on #60
Just dropping this here : https://semver.org/

Just name the first versioned version "1.0.0" and call it a day \o/

Github also have releases. https://help.github.com/articles/about-releases/

[2018-04-11 18:02] BakeRolls commented on #6
FWIW: I have a 3DS with 11.2.0-35E. The images in this issue did not work but generating a new one did.

![2018-04-11_20-00-34](https://user-images.githubusercontent.com/1502822/38634577-34b49d48-3dc3-11e8-9da1-44c970cd4b36.png)

[2018-04-11 18:15] claudiodangelis commented on #6
Hi @BakeRolls, do you mean: you have successfully generated an image with `qr-filetransfer` and it worked?

If so, this is a really great news :-)

[2018-04-11 19:20] jjnilton commented on #6
@BakeRolls your code worked with my 2DS on 11.6.0-0-39U. And I tried again with the newest version of the `qr-filetransfer` and it's working. :smile:

Thanks @claudiodangelis!

[2018-04-17 13:52] #13 closed

[2018-05-01 17:53] claudiodangelis commented on #35
I'm bookmarking this QML frontend + Golang backend project (a popular clone of Sublime Text), it looks like a good approach: https://github.com/limetext/lime

[2018-05-01 17:57] claudiodangelis commented on #32
After 26 days, 0 answers from OP and 0 new complaints I'm assuming this is fixed.

[2018-05-01 17:57] #32 closed

[2018-05-01 18:01] claudiodangelis commented on #12
I'm assuming this is fixed for everyone now, we had no new complaints, thanks!

[2018-05-01 18:01] #12 closed

[2018-05-01 18:33] evilsocket commented on #35
yeah i was looking at this webview and looks simple and promising :D

[2018-05-04 03:34] anxiaokai opened #64 "qr-filetransfer/main.go:93: srv.Shutdown undefined"
I'm opening this issue because:

- [x] I have found a bug
- [ ] I want to request a feature
- [x] I have a question
- [ ] Other

it display this
__gotest go get github.com/claudiodangelis/qr-filetransfer
github.com/claudiodangelis/qr-filetransfer
src/github.com/claudiodangelis/qr-filetransfer/main.go:93: srv.Shutdown undefined (type *http.Server has no field or method Shutdown)
src/github.com/clau

[2018-05-04 09:08] claudiodangelis commented on #64
Hello @anxiaokai, thanks for reporting, the problem is that your Go version is outdated, please upgrade Golang then try again, the current stable version is go1.10.2 (but it will probably work with go1.8 as well).

I realize there is no indication of this constraint in the README, I will fix that soon.

Thank you!

[2018-05-04 09:08] #64 closed

[2018-05-04 09:10] claudiodangelis opened #65 "Add the minimum required go version in the readme"
Sub tasks:
- [x] Add the minimum required go version in the readme
- [x] Mention that version in the template feature

---

I think it will work with 1.8 at least, the current stable is 1.10.2.

[2018-05-11 10:14] hellozee commented on #35
What about using [andlabs/ui](https://github.com/andlabs/ui) , we do need to package the c library but we can avoid webview this way.

[2018-05-17 17:47] #65 closed

[2018-05-28 22:00] claudiodangelis opened #67 "Append transfer progress indication to output"
If the `-quiet` flag isn't set, the tool should print the progress stages of the transfer, i.e.:

[code]

[code]

[code]

[2018-06-26 05:58] FrontMage commented on #24
@NatoBoram How about some frontend technique, `qr-filetransfer -cert` generates a qrcode for the CA, after the CA download, there is a button click to download with https.

[2018-06-29 13:36] claudiodangelis opened #68 "Allow binding to publicly accessible interfaces too"
I'm opening this issue because:

- [ ] I have found a bug
- [x] I want to request a feature
- [ ] I have a question
- [ ] Other

[2018-07-24 08:14] issmirnov opened #70 "zip.AddFile undefined when running "go get github.com/claudiodangelis/qr-filetransfer""
I'm opening this issue because:

- [X] I have found a bug
- [ ] I want to request a feature
- [ ] I have a question
- [ ] Other

I am trying to install the binary with `go get github.com/claudiodangelis/qr-filetransfer`, and getting the following error:

[code]

It is coming from [here](https://github.com/claudiodangelis/qr-filetransfer/blob/master/content.go#L54).

I have reproduced this on two s

[2018-07-24 08:15] issmirnov commented on #70
I believe the cause of this bug is this commit: https://github.com/jhoonb/archivex/commit/1eb6e91aa0b4b9b1623fdf3a2a38142b4afe4b63

It removes the `AddFile` method, and replaces it with `Add`.

[2018-08-03 13:30] claudiodangelis commented on #70
Thanks for reporting @issmirnov, I will look at it ASAP

[2018-08-03 13:32] claudiodangelis opened #71 "Print the size of the payload"

[2018-08-06 14:37] brualan commented on #58
I would like to have this feature. I saw PR https://github.com/claudiodangelis/qr-filetransfer/pull/8, but the code suggested there does not seem to me good enough. And it's been a while, so there may be problems with the merger. It seems to me that the best option is to add the "-upload" flag. If the user specified the folder in which the files will be loaded into the arguments, then load it ther

[2018-08-06 20:49] claudiodangelis commented on #71
Implemented

[2018-08-06 20:49] #71 closed

[2018-08-07 06:14] claudiodangelis commented on #58
I agree that #8 might require some refactoring.

The way I see it:

1. we should name it `-receive` flag rather than `-upload`

    it seems more natural to me to run in my terminal

[code]
    rather than
[code]
    However, I still find it very verbose, maybe we can find a different solution

2. we should add a `-to` (or `-out` or `-dest` or whatever) flag

    In my experience I've never seen a

[2018-08-07 07:05] brualan commented on #58
I agree that the `-receive` flag looks much clearer than `-upload`. But pointing the folder via the flag seems too complicated.
I see it like that: if the user did not specify a directory, then the program should output something like
[code]
and finishes the execution.

[2018-08-07 07:09] claudiodangelis commented on #58
I'm CC'ing @twooster and @barryz, author and reviewer of #8, into this thread.

[2018-08-08 08:56] brualan commented on #58
I made some progress. Some work still needs to be done, but you can already enjoy it. Criticism and suggestions are welcome.
https://github.com/brualan/qr-filetransfer

[2018-08-13 08:43] claudiodangelis commented on #24
Just came across this project by @FiloSottile: https://github.com/FiloSottile/mkcert , might be worth having a look.

[2018-08-13 19:34] styfle commented on #68
Could [ngrok](https://ngrok.com) be utilized here?

[2018-08-15 17:14] efung opened #76 "Server still disconnects when transferring APK file on Android phone"
I'm opening this issue because:

- [ ] I have found a bug
- [x] I want to request a feature
- [ ] I have a question
- [ ] Other

- My Go version is: `go version go1.10.3 darwin/amd64`
- My [GOPATH](https://github.com/golang/go/wiki/GOPATH) is set to: `~/go`

I'm using the latest version of the tool (I ran `go get …` last night) and saw that #13 was supposed to be resolved.

But I continue to exper

[2018-08-15 17:16] claudiodangelis commented on #76
Thanks for reporting, I will try to reproduce the issue and will get back
to you,

Claudio

Il mer 15 ago 2018, 19:14 Eric Fung <notifications@github.com> ha scritto:

[2018-08-16 07:33] claudiodangelis commented on #76
I'm able to reproduce the issue and agree with what you've guessed.

As a quick workaround you can zip it before transfer, you can do that by passing the `-zip` flag:

[code]

[2018-08-16 07:36] claudiodangelis commented on #58
The feature has been implemented!

Pass the `-receive` flag and the path to a directory:

[code]

By scanning the QR you will be prompted with an upload page on your mobile:

![image](https://user-images.githubusercontent.com/941963/44194904-bcf13e00-a137-11e8-91a4-afe716cc93eb.png)

And files will be transfered to `~Downloads`. Thanks again to @brualan and @twooster for working on this.

[2018-08-16 07:36] #58 closed

[2018-08-16 13:27] rafa-acioly commented on #76
the browser is canceling the download because it is a apk? i don't understand it.

[2018-08-16 14:53] efung commented on #76
I'm not sure what's going on.

Very rarely, the transfer starts and is partially downloaded. And just
once, the entire download completed.

On Thu, Aug 16, 2018, 9:27 AM Rafael Acioly <notifications@github.com>
wrote:

[2018-08-16 17:11] efung commented on #76
Android can't natively handle ZIP files. The end goal is to be able to install an APK directly.

[2018-08-18 22:17] brualan commented on #76
@efung you can comment out lines `66-69` in `serveHTTP.go`. After that, the server will continue to work as long as you want, but you will need to manually shutdown it.

@claudiodangelis How about adding a flag on which the server will work as much as the user wants?

[2018-08-20 14:18] efung commented on #76
I'll try that workaround, and like the idea of a flag to control whether the server is kept alive. It could even have a potential use-case of allowing you to transfer the same file to multiple devices.

But I'm still curious as to why the download is being aborted.

[2018-08-20 14:54] claudiodangelis commented on #76
I'm adding the `-keep-alive` flag, sending you updates soon

[2018-08-20 15:57] claudiodangelis commented on #76
Please check out PR #78

[code]

[2018-08-20 19:10] efung commented on #76
Hmm. I'm not sure what's going on: I followed that script to execute `qr-filetransfer` from the PR branch. The first time, I didn't specify any `-keep-alive` flag at all, and was able to succesfully download APKs to my Android device.  I repeated using a different QR code app, and was successful again. I tried a third time, using `-keep-alive=false`, and was **still** successful. And if I specify

[2018-08-20 20:42] claudiodangelis commented on #76
Try renaming the file to a unique name at each trial, maybe there is some
caching going on? Weird, I'm pretty sure I've been able to reproduce the
problem you reported.

Il lun 20 ago 2018, 21:10 Eric Fung <notifications@github.com> ha scritto:

[2018-08-23 07:12] claudiodangelis commented on #24
I'm keeping an eye on this: https://github.com/FiloSottile/mkcert/issues/45

[2018-08-23 10:13] claudiodangelis commented on #76
Any updates @efung? PR #78 apparently fixes the problem for me, but it would be great if you could confirm as well.

If everything is OK, please feel free to close this issue, thank you!

[2018-08-23 10:15] claudiodangelis commented on #68
@styfle sorry for late reply, I'm not 100% sure ngrok could be a solution here.

However, I would put this issue on hold until #24 (support for HTTPS) is implemented.

[2018-08-23 13:34] efung commented on #76
I've tried on two different WiFi networks, and there's no consistent pattern. Sometimes, the APK is transferred fully, sometimes not.

But with the `-keep-alive=true` flag, I am always successful!

[2018-08-23 13:36] claudiodangelis commented on #76
Sounds like an "issue fixed" to me! Please feel free to reopen the issue if it needed.

[2018-08-23 13:36] #76 closed

[2018-08-23 13:38] efung commented on #76
(BTW, you can put `Resolves #76` in the PR #78 and it will auto-close this issue, when the PR is merged)

[2018-08-23 13:38] claudiodangelis commented on #76
Oooh, I forgot about that trick. Thanks!

[2018-10-09 13:07] mb-14 commented on #67
I would like to work on this

[2018-10-09 13:27] claudiodangelis commented on #67
Hi @mb-14, thanks for taking care of this! Looking forward to seeing your implementation. Any questions, let me know.

[2018-10-22 14:07] #67 closed

[2018-11-28 11:43] claudiodangelis opened #81 "Address issues reported by Go Report Card"
https://goreportcard.com/report/github.com/claudiodangelis/qr-filetransfer

[2019-02-14 06:15] littlebear333 opened #83 "Sorry.It's my fault."
I'm opening this issue because:

- [x] I have found a bug
- [ ] I want to request a feature
- [ ] I have a question
- [ ] Other

- My Go version is: _(paste the output of `go version` and remember that qr-filetransfer requires at least version 1.8 of Go)_
- My [GOPATH](https://github.com/golang/go/wiki/GOPATH) is set to: _(paste the output of `echo $GOPATH`)_

[2019-02-14 09:46] claudiodangelis commented on #83
Hi @littlebear333, glad to hear the issue is solved now!

[2019-02-14 09:46] #83 closed

[2019-02-20 18:05] #81 closed

[2019-03-31 14:21] claudiodangelis commented on #35
Another GUI library I just came across: https://github.com/fyne-io/fyne

[2019-11-18 15:54] deepnum opened #86 "how do you get the ip address ?"
I'm opening this issue because:

- [ ] I have found a bug
- [ ] I want to request a feature
- [ - ] I have a question
- [ ] Other

Also how without connecting to the internet?

[2019-11-18 16:21] deepnum opened #87 "question : How can i connect to a web server via wifi which is running on a android phone and i have connected to it's wifi hotspot"
I'm opening this issue because:

- [ ] I have found a bug
- [ ] I want to request a feature
- [ ] I have a question
- [ ] Other

- My Go version is: _(paste the output of `go version` and remember that qr-filetransfer requires at least version 1.8 of Go)_
- My [GOPATH](https://github.com/golang/go/wiki/GOPATH) is set to: _(paste the output of `echo $GOPATH`)_

[2019-11-19 08:26] claudiodangelis commented on #87
Hi, I'm not sure I understand your question correctly, can you please explain in more detail?

This tool creates a web server, it doesn't connect to an existing one.

[2019-11-19 08:27] claudiodangelis commented on #86
Sorry, which IP address are you talking about?

[2020-02-25 13:36] Gavinok opened #88 "Add sending a string"
I'm opening this issue because:

- [ ] I have found a bug
- [x] I want to request a feature
- [ ] I have a question
- [ ] Other

- My Go version is: go1.13.7 linux/amd64
- My [GOPATH](https://github.com/golang/go/wiki/GOPATH) is set to: /home/gavinok/go:/home/gavinok/Programming/go

[2020-02-25 13:56] claudiodangelis commented on #88
Could you please describe an example usecase for this feature?
Thanks

[2020-02-25 22:51] Gavinok commented on #88
Sorry didn't realize that I had submitted this. Currently if you want to send a string using the qrcode from your phone using -receive you need to create a text file on your phone containing the text to be sent.

- The feature I was hoping to have added is the ability to just send the string from my phone.

One way I had in mind was to add a text box on the file transfer page that can then be eith

[2020-02-26 17:51] claudiodangelis commented on #88
Hi @Gavinok, well, it looks like something useful enough to be implemented.

Thanks!

[2020-04-19 10:27] claudiodangelis commented on #68
This was implemented as part of the latest major refactoring.
Just use the `--interface=any` special interface, and it will bind to `0.0.0.0`. The displayed URL will be the external IP of the host, unless the `--fdqn` argument is passed; in that case, the fully-qualified domain name is displayed instead.

[code]

[2020-04-19 10:27] #68 closed

[2020-04-19 19:39] vizzah commented on #70
Having the same issue with the current version:

$ go get github.com/claudiodangelis/qrcp
# github.com/claudiodangelis/qrcp/util
dev/go/src/github.com/claudiodangelis/qrcp/util/util.go:38:7: zip.AddFile undefined (type *archivex.ZipFile has no field or method AddFile)

[2020-04-19 20:36] claudiodangelis commented on #70
Hi @vizzah, sorry to hear, which version of go are you using?

[2020-04-19 20:39] Maijin commented on #70
Same issue here "go version go1.14.2 darwin/amd64"

[2020-04-19 20:48] vizzah commented on #70
go version go1.12.8 linux/amd64

thanks

[2020-04-19 23:06] edmooney commented on #70
Same issue on: go version go1.14.2 linux/amd64
Thank you!

[2020-04-20 02:07] u-0000 commented on #70
Same issue on go version go1.14.2 android/arm64

[2020-04-20 05:42] ATON396 opened #92 "Excelente wooh"

[2020-04-20 06:21] beppu commented on #70
I get this error too with go version go1.13 linux/amd64 .  However, if I clone the repo and do `go build`, it builds successfully, and `qrcp` seems to work.

[2020-04-20 06:23] CheatCoder commented on #35
The only Problem is this has no image Support(only in tables), how would you Show the qr-code in this libary?

When we need Image then i prefere fyne as a Desktop app.

[2020-04-20 06:55] claudiodangelis commented on #70
Should be all good now, the issue was the one pointed out by @issmirnov, which I totally forgot about.

Please let me know if everything works as expected, and thanks everyone for taking the time to report the problem.

[2020-04-20 06:55] claudiodangelis commented on #92
Thanks @ATON396!

[2020-04-20 06:55] #92 closed

[2020-04-20 07:21] claudiodangelis commented on #7
Hello @efung, are you still running into this issue?

[2020-04-20 09:33] Maijin commented on #70
Awesome works like a charm now

[2020-04-20 13:27] efung commented on #7
I'm not doing any Android development anymore, and haven't use your tool in a while. But I believe this is likely still an issue?

[2020-04-20 13:46] faxm0dem commented on #88
if the file to send is smaller than 1k it could encode it into the QR-code directly no need for a webserver ;-)

[2020-04-21 11:24] claudiodangelis commented on #7
I just tried myself and could not reproduce the issue. Considering that no one else complained in the last 2 years, I'm going to close this for now.

Thanks!

[2020-04-21 11:24] #7 closed

[2020-04-22 12:01] Crazy-MT opened #94 "macOS 10.15.2 exec format error: qrcp"

[2020-04-22 12:45] m1nka commented on #94
Had the same issue. You need to install it using `go get github.com/claudiodangelis/qrcp`.

[2020-04-22 12:54] claudiodangelis commented on #94
Sorry for that, I know where the problem is.

Please install it with "go get" as suggested, I will fix that in a few
days.

Thanks!

Il mer 22 apr 2020, 14:46 maxj <notifications@github.com> ha scritto:

[2020-04-22 13:34] jianboy opened #95 "QR code doesn't properly render on Windows"
I'm opening this issue because:

- [x] I have found a bug
- [ ] I want to request a feature
- [ ] I have a question
- [ ] Other

the qrcode is too big!!!
*When I zoom the  cmd window, the QR code disappears.*

![1](https://user-images.githubusercontent.com/11532015/79988281-0aaf7380-84e1-11ea-9f74-5c8b3c464054.gif)

![image](https://user-images.githubusercontent.com/11532015/80004655-2ae92d80-84f5

[2020-04-22 16:15] nvthuong1996 opened #96 "can't install in macos with go 1.12"
### i can't install package please see
i can try use sudo when install but it not working.
![enter image description here](https://www.upsieutoc.com/images/2020/04/22/Screen-Shot-2020-04-22-at-11.12.59-PM.png)

[2020-04-22 16:26] nvthuong1996 commented on #96
sorry i lose step install

[2020-04-22 16:26] #96 closed

[2020-04-22 22:52] abnerfs opened #97 "Ngrok integration to provide access outside local network"
I'm opening this issue because:

- [ ] I have found a bug
- [x] I want to request a feature
- [ ] I have a question
- [ ] Other

Would be useful an option to enable ngrok to provide external url for a file, example:
https://github.com/abnerfs/onetime-file-share

[2020-04-23 06:13] claudiodangelis commented on #97
Hello @abnerfs, thanks for this suggestion, I believe someone already mentioned ngrok in the past.
I'm not too much familiar with ngrok, so I'm trying to figure out which use cases it would cover that are not covered by the `--interface any` flag usage:
- laptop & mobile are on different networks, and computer's is not accessible from the outside
- _???_

Other people suggested to use 3rd-party se

[2020-04-23 06:14] claudiodangelis commented on #97
Cross-reference: https://github.com/claudiodangelis/qrcp/issues/42

[2020-04-23 06:14] claudiodangelis commented on #42
Cross-reference: https://github.com/claudiodangelis/qrcp/issues/97

[2020-04-23 06:24] PauloRSF commented on #88
Can i take this one?

[2020-04-23 06:57] claudiodangelis commented on #88
@faxm0dem agreed, but that is only true for "laptop > mobile" transfers but not from the other way around, which I think is the actual use case that this feature would cover. I'm thinking about transferring copied text from a message, URLs, etc.

[2020-04-23 07:11] claudiodangelis commented on #88
@PauloRSF, yes, absolutely.

Before getting started, let's discuss what the best implemention would be. I'm thinking about these specs:
- the upload pages has both a "Upload file" and a "Title Input + Text Textarea" features
- (?) features are mutually exclusive
- if the title is not set, qrcp assigns one following a given pattern (i.e.: `qrcp-text-file-${date}.txt`)
- the transferred file has a

[2020-04-23 07:15] claudiodangelis commented on #95
Hello @jianboy, thanks for reporting!
Please allow me some time to research why the `qrConfig.HalfBlocks = false` was introduced in the first place, and then plan a solution.

Does it work fine for you if you set `qrConfig.HalfBlocks = true`?

Thanks,
C

[2020-04-23 08:22] thiagoalmeidasa opened #98 "Add AUR package to README"
I'm opening this issue because:

- [x ] Other
Archlinux package created at https://aur.archlinux.org/packages/qrcp-bin/

[2020-04-23 09:19] pearl2201 commented on #35
I just clone to c# and add simple graphic ui.

https://github.com/pearl2201/qrcp

[2020-04-23 10:20] claudiodangelis commented on #98
That's great @thiagoalmeidasa! I am an Arch user too!

Just for your information, qrcp used to be called qr-filetransfer, and a package does exist on AUR for that: https://aur.archlinux.org/packages/qr-filetransfer-git/

However, it's an "-git" package, so if the qr-filetransfer-git will be renamed to qrcp-git, please make sure to list it as a conflicting package. I will make the author of that pa

[2020-04-23 11:57] abnerfs commented on #97
Another use case is when I want to share a file with a friend.
The middleware Idea sounds good, that would be an awesome solution.
Btw ngrok is very simple to use, you just choose a tcp port and it gives you a link that redirects to that.

Thanks for your answer

[2020-04-23 12:38] jianboy commented on #95
I set qrConfig.HalfBlocks = true ,

and qrcode is flat.

[2020-04-23 13:06] thiagoalmeidasa commented on #98
Just did. Thanks, man.

[2020-04-23 19:40] PauloRSF commented on #88
Sounds good to me! Although, i believe there's no need to make the features mutually exclusive. It really would be odd for someone to want to transfer some plain text and files at the same time, but, if someone wants to, why not? Do you agree?

[2020-04-23 19:44] claudiodangelis commented on #88
@PauloRSF you are right, agreed 🤝

[2020-04-23 22:32] Lorenz11x opened #99 "reduce size to QR code ??"
How can you change the size of the QR code?

[2020-04-24 00:10] RamazanM commented on #97
I think it's not that cross-reference. I agree with @abnerfs  if i can take some time for this, i will send a pull request. Thanks for advice @abnerfs

[2020-04-24 03:56] woshimanong1990 opened #100 "Add local_file_share to "Clones and Similar Projects""
😀
I have write a python version。If you need,[ https://github.com/woshimanong1990/local_file_share](https://github.com/woshimanong1990/local_file_share)

[2020-04-24 04:42] PauloRSF opened #102 "Add support for sending text to phone"
I'm opening this issue because:

- [ ] I have found a bug
- [x] I want to request a feature
- [ ] I have a question
- [ ] Other

I think it would be cool to be able to send text from my pc to my phone directly. QRCP wouldn't even need to start the server, just render the qr code with the text.

[2020-04-24 11:14] Ipassanti opened #104 "windows installation issue"
I'm opening this issue because:

- [ ] I have found a bug
- [ ] I want to request a feature
- [Y] I have a question
- [ ] Other

I'm really sorry to submit this issue for asking easy question. But I really have difficult to install QRCP on Windows.
I have downloaded Go Lang and use  "go get ~/qrcp" cmd. But i can't find Chmod Command on Windows.
And there's no ".exe" file in the released package.

[2020-04-24 11:20] claudiodangelis commented on #104
Hello, the "chmod" command is a Linux and Mac command, sorry if I did not make it clear in the README.

Have you tried running:

[code]

If you are new to go, please make sure you have read the installation manual for Windows: https://golang.org/doc/install#windows

After running the command above, you should be able to use the tool by simply running `qrcp` in the command prompt.

[2020-04-24 11:41] Ipassanti commented on #104
yes,I had used the "go get" command to install the "qrcp".
But somehow the system cant find "qrcp" program.
In this picture, it said 'qrcp' is not a inner or outter command or executable  program.
But i don't know which step i havn't  done.

<img width="675" alt="issue" src="https://user-images.githubusercontent.com/33710797/80208634-378b9400-8663-11ea-82b9-80a73f05a1de.PNG">

[2020-04-24 11:46] jeverling commented on #100
Hey @woshimanong1990, your link is broken. The text is correct but it refers to a non-existing page in this repo.

[2020-04-24 12:24] claudiodangelis commented on #104
Thank you, just as a test, does it work if you run:

[code]

[2020-04-24 12:25] claudiodangelis commented on #100
@woshimanong1990 thanks for this! I will add it to the README.

@jeverling thanks for spotting, I fixed the URL for @woshimanong1990

[2020-04-24 12:28] Ipassanti commented on #104
Yup！
Thanks for spending time to solve  my problem ！ ：D

[2020-04-24 12:28] claudiodangelis commented on #99
Hello @Lorenz11x, thanks for reporting. I have received a similar issue, so I will close this one now.

[2020-04-24 12:28] #99 closed

[2020-04-24 12:30] claudiodangelis commented on #95
@Lorenz11x are you having this issue in Windows?

[2020-04-24 12:30] #70 closed

[2020-04-24 12:42] claudiodangelis commented on #104
Please make sure to setup Go environment variables correctly, so that you don't have to use the full path of the binary every time.

[2020-04-24 13:29] GokulNC commented on #104
@claudiodangelis
I'm getting this error in Windows:

[code]

[2020-04-24 13:33] claudiodangelis commented on #104
Which version of go are you using?

[2020-04-24 13:35] GokulNC commented on #104
@claudiodangelis
I'm on `go version go1.14.2 windows/amd64`

[2020-04-24 13:47] claudiodangelis commented on #104
Can you please try

[code]

[2020-04-24 13:50] jianboy commented on #95
it maybe cause by the bug:
https://github.com/mdp/qrterminal/issues/20

[2020-04-24 13:54] GokulNC commented on #104
I'm getting the same error:
[code]

[2020-04-24 13:56] claudiodangelis commented on #104
Could you please try this

[code]

then

[code]

Thanks

[2020-04-24 14:04] GokulNC commented on #104
I deleted my `C:\Users\Name\go\src\` directory (as mentioned [here](https://github.com/ponzu-cms/ponzu/issues/204#issuecomment-408116252)) and tried installing again, it worked!

Probably that directory was corrupt in my case, sorry for the trouble; I'm new to Go.
Please close the issue.

[2020-04-24 14:05] claudiodangelis commented on #104
I'm glad to hear you figured it out, cheers!

[2020-04-24 14:05] #104 closed

[2020-04-24 15:23] latel commented on #94
I install with "go get", but no luck, qcrp is not installed

[code]

[2020-04-25 06:17] Crazy-MT commented on #94
+1

[2020-04-25 08:23] claudiodangelis commented on #98
@thiagoalmeidasa  FYI I just spotted this package: https://aur.archlinux.org/packages/qrcp/

[2020-04-25 08:32] claudiodangelis commented on #100
@woshimanong1990 , I added the project to the list of clones and similar projects in the README. If your project was inspired by mine, I would appreciate a mention on your README as well.

Thank you!

[2020-04-25 08:36] #100 closed

[2020-04-25 08:36] #98 closed

[2020-04-25 08:40] claudiodangelis commented on #102
Hello @PauloRSF, thanks for this proposal, though I consider it to be outside of the purpose of qrcp, since it can be achieved with a regular qr encoding app. Thanks for understanding!

[2020-04-25 08:40] #102 closed

[2020-04-25 17:26] claudiodangelis opened #106 "Run Goreleaser into Github Action"
Make the releases process faster with Goreleaser and Github Actions.

References:
- https://goreleaser.com
- https://github.com/goreleaser/goreleaser-action
- https://github.com/features/actions

[2020-04-26 13:47] #60 closed

[2020-04-26 13:47] #106 closed

[2020-04-26 13:50] claudiodangelis commented on #94
Hello, I fixed the problem. MacOS releases are now available in the Releases page.

You should be able to install it by running:
[code]

Please let me know if this fixed the problem, thanks for your patience!

[2020-04-26 14:08] claudiodangelis opened #109 "Logo is too big on README"
Logo should not take all that space on the README.

[2020-04-26 14:10] claudiodangelis opened #110 "Move docs to /docs subfolder, update Github Pages configuration"
Github Pages is configured to source files from the root folder of the master branch. It should source from /docs instead, not to pollute the root  folder.

[2020-04-26 15:07] claudiodangelis commented on #98
Hello @thiagoalmeidasa , I added a release automation. Please update the PKGBUILD to use the following URL for the download :

https://github.com/claudiodangelis/qrcp/releases/download/0.5.3/qrcp_0.5.3_linux_x86_64.tar.gz

Also, this is a tar.gz package so it should be unpacked when installing it.

Thank you!

[2020-04-26 20:52] Lorenz11x commented on #95
@claudiodangelis  si, in Windows10.
Soluzione?

[2020-04-27 06:10] claudiodangelis opened #113 "Upload page is using old logo"
Logo on the Upload page still reads _qr-filetransfer_ (the original name of the tool).

[2020-04-27 07:07] claudiodangelis commented on #88
@Gavinok this is implemented now and available as of version 0.6.0, thanks for proposing!

[2020-04-27 07:07] #88 closed

[2020-04-27 13:28] skuzzymiglet opened #114 "Transferring multiple files to phones with no unarchiver"
I'm opening this issue because:

- [ ] I have found a bug
- [X] I want to request a feature
- [ ] I have a question
- [ ] Other

- My Go version is: _(paste the output of `go version` and remember that qrcp requires at least version 1.8 of Go)_

`go version go1.14.2 linux/amd64`

- My [GOPATH](https://github.com/golang/go/wiki/GOPATH) is set to: _(paste the output of `echo $GOPATH`)_

`/home/skuzz

[2020-04-27 14:36] coralinabubu opened #115 "电脑手机传输"

[2020-04-27 16:25] skuzzymiglet commented on #114
Implementations:

+ Multiple QR codes
+ Serving a very barebones html pages with _x_ download links

[2020-04-27 16:25] claudiodangelis commented on #115
Could you please explain in English? That would be very much appreciated , thank you.

[2020-04-27 16:43] claudiodangelis commented on #114
Hello @skuzzymiglet, thanks for proposing, I didn't consider the scenario where the user is missing an unarchiver app on the phone, you make a very good point.

About the possible implementations, I would exclude multiple QR codes.
What I am thinking:
- sequential serving: once the first file in queue has been downloaded, the next one immediately starts without user intervention
- serving an html

[2020-04-27 16:52] claudiodangelis opened #116 "Add news section to github pages"
The github pages website should have a News section and should provide cm RSS feed. Ideally, when a new release is out it,  a news post should be automatically created.

[2020-04-27 19:51] skuzzymiglet commented on #114
Yeah, true, html links are clunky (compared to just files) and the KaiOS browser is terrible with links, and directory listing is something for syncthing and the like, and not for a simple tool like this. I'm happy to help with sequential serving, it seems simple.

[2020-04-28 10:19] heyv5 opened #117 "import problem"
I try to run this project, but why I found some file in qrcp will import package in GOPATH but that package is already in this project?

[2020-04-28 16:16] #117 closed

[2020-04-28 16:19] heyv5 commented on #117
emmm,i don't know it's path of vgo

[2020-04-28 16:48] claudiodangelis commented on #117
I'm sorry but I don't understand what is the issue…

[2020-04-28 18:28] skuzzymiglet commented on #114
Hey @claudiodangelis, I created a PR to add this feature, could you review it?

[2020-04-28 19:51] claudiodangelis commented on #114
I think the logic can be simplified so that we don't even need a flag for the sequential: sequential becomes the default, and "zip" overrides the default.

The logic would be something like this fake code:

[code]

In the following examples, "a" and "b" are files, "d" is a directory, and they assume that every argument is passed as an "payloads" slice, and qrcp sends each file by looping through t

[2020-04-28 19:55] shisaq commented on #115
That title means "transferring data between PC and phone", which has no question, description or issue related... I think you could ignore and close it.

[2020-04-28 19:59] skuzzymiglet commented on #114
Seems quite logical actually, more natural (to go with Cobra's ideas). Once the `srv` accepts a slice, I'll implement that

[2020-04-28 19:59] claudiodangelis commented on #115
Thanks @shisaq, I have the same feeling, though I'll wait to hear from @coralinabubu for a few more days before closing it. I see they joined Github recently and might not be too much familiar with how it works yet.

[2020-04-29 00:42] jhb205 opened #119 "QRCP"

[2020-04-29 04:20] Beegency opened #120 "Firewall Problem"
I'm opening this issue because:

- [ ] I have a question
- My Go version is: go version go1.13.6 linux/amd64

I tried to send & receive files between a PC running CentOS7 and Android devices. Something went wrong when I scanned QR code and opened it in my phone's web browser.

The error code seemed to imply that the address was unreachable. I checked the chosen interface and it was configured corr

[2020-04-29 05:09] claudiodangelis commented on #120
Hello @Beegency, there might be two things that are preventing it from working:
1. wrong network interface
    make sure that the send URL printed belongs to the same subnet of your Android, for example:

2. firewall

[2020-04-29 05:13] claudiodangelis commented on #120
Hello @Beegency, to exclude it is a firewall problem you could do this:

1. Check what is your active zone
[code]
It will probably be "public".

2. Allow traffic on a specific port, let's say 8080 (replace "public" in case the previous step returned something different)
[code]
3. Reload the firewall
[code]

4. Run qrcp on the port 8080
[code]

Please let me know how it goes!

[2020-04-29 05:14] Beegency commented on #120
After I stopped the firewall service, my phone got the permission to access the URL, but it still can't download any file. The product model is Huawei M6.
However, my laptop finished the transmission successfully. How can I trace the error of my Android devices.

[2020-04-29 05:14] claudiodangelis commented on #119
Hello @jhb205, are you running into issues with qrcp?

[2020-04-29 09:47] nogweii commented on #120
Another consideration for RedHat based distributions is SELinux denials. Is it enabled, if so there should be errors in the audit log.

[2020-04-29 11:40] claudiodangelis commented on #120
Very good point @nogweii, maybe @Beegency you can try enabling it with:
[code]

[2020-04-29 14:28] claudiodangelis commented on #95
We just deployed a new version, 0.6.1, which uses a different QR encoding library (props to @anoop-b :tada:).
Can you @Lorenz11x and @jianboy please try the new version and let me know if it fixes the issue?

Thanks,
C

[2020-04-29 16:01] jiri opened #122 "Create a homebrew package"
I'm opening this issue because:
- [x] I want to request a feature

It would be nice to be able to install qrcp using `brew install qrcp` which is the de-facto standard way of installing software on macOS.

[2020-04-29 17:37] claudiodangelis commented on #122
Hi @jiri, many thanks for suggesting, definitely something we should have.

[2020-04-29 20:05] jianboy commented on #95
It can not show qr correctly. May be you can open a file with a default software and not show it in cmd windows.

![BaiduHi_2020-4-30_3-59-10](https://user-images.githubusercontent.com/11532015/80641183-0cf06f80-8a97-11ea-8640-a465d3491161.png)

[2020-04-29 21:24] claudiodangelis commented on #95
@jianboy just wondering: does it work with a monospace font?

[2020-04-29 21:31] jianboy commented on #95
monospace font? I didn't know how to try it.

[2020-04-30 00:59] MasonZhangXM commented on #95
it works on monospace not others,i have the same problem with poster.

[2020-04-30 01:42] puneethkanna opened #123 "Recieve multiple files from mobile"
I'm opening this issue because:

- [ ] I want to request a feature

- My Go version is: _go1.13.8 linux/amd64_

[2020-04-30 15:49] anoop-b commented on #95
I can confirm that it works well in powershell on windows and cmd. But qr-code disappears after cmd window is resized.
Also works well on the new windows [terminal](https://www.microsoft.com/en-us/p/windows-terminal-preview/9n0dx20hk701?activetab=pivot:overviewtab). I think Microsoft is addressing these underlying issues with the introduction of new terminal.

[2020-04-30 15:51] anoop-b commented on #95
Hey @jianboy , I couldn't reproduce this issue with the new build. Could you try doing a fresh install of qrpc?

[2020-04-30 20:55] jianboy commented on #95
sure, you can see my video:

http://cdn.yoqi.me/direct/2020-05-01/Video_2020-05-01_044740.mp4

[2020-05-01 07:56] emmtte opened #124 "Is it possible to make a release for Raspberry Pi"
Hi,

Thanks for your easy tool.
But, is it possible to make a release for a Raspberry Pi?

[2020-05-01 08:02] claudiodangelis commented on #124
Hello @emmtte, thanks for pointing this out. It should be very easy to add that, it's just a matter of adding a couple lines to our GoReleaser config file.

I'm posting this link as a note to self: https://goreleaser.com/build/

Will have a look at it later today, thanks!

[2020-05-01 08:36] snowdream commented on #124
Please support Raspberry Pi 3 and newer Pi.

[2020-05-01 09:28] claudiodangelis commented on #124
Hello @snowdream and @emmtte, I created a test release on this test repository:
https://github.com/claudiodangelis/qrcp-test-arm/releases/tag/0.0.0

I'm not too much of an expert on this field, but the correct mapping should be

| Raspberry Model |  Binary |
| --- | --- |
| Rpi 1 | qrcp_0.6.1_linux_armv6.tar.gz |
| Rpi 2 | qrcp_0.6.1_linux_armv7.tar.gz |
| Rpi 3, 4 | qrcp_0.6.1_linux_arm64.tar.gz

[2020-05-01 09:29] claudiodangelis commented on #124
If you could test it whenever you have time it would really helpful. I do have a few Rpi boards but will only be possible for me to test it in a few days.

Thanks.

[2020-05-01 09:46] snowdream commented on #124
For Rpi 3 b+, with CentOS 8, it use armv7l version.

[code]

[code]

When i use qrcp_0.6.1_linux_armv7.tar.gz, It works like a charm.

[code]

[2020-05-01 10:34] emmtte commented on #124
Working well for me too
And for Raspberry Pi 2 & 3 we need to use  qrcp_0.6.1_linux_armv7.tar.gz if 32bits OS
You can close the ticket.
Well done and fast resolve

[2020-05-01 17:02] claudiodangelis commented on #122
Note to self: GoReleaser it's the tool we're using to build and release artifacts and it supports the generation of brews: https://goreleaser.com/homebrew/

[2020-05-01 19:53] dipanshunagar opened #126 "QR code doesn't render properly with Ubuntu Mono font"
I installed qrcp with [this .deb](https://github.com/claudiodangelis/qrcp/releases/download/0.6.1/qrcp_0.6.1_linux_x86_64.deb) which is the 0.6.1 version x86_64 build.

OS: Kubuntu 18.04
go version: go1.10.4 linux/amd64

Check screenshot for results:
![Screenshot_20200502_011902](https://user-images.githubusercontent.com/10234389/80836997-8a40ef00-8c13-11ea-9ef9-36a25f8bedf4.png)

[2020-05-01 19:59] claudiodangelis commented on #126
Hello @dipanshunagar, thanks for reporting. Which font are you using in your terminal? Does it work if you change font? Thanks

[2020-05-01 20:08] dipanshunagar commented on #126
Ah, yes it worked with font the Monospace. Even though my default was also a mono- Ubuntu Mono.
Thanks. Just a suggestion: can there be a way to configure qrcp so that it opens a new window with the qrcode? A simple image might be more robust.

[2020-05-01 21:07] claudiodangelis commented on #126
@dipanshunagar good to hear it worked with a different font, I will change the title of this issue. Though it's a bit out of scope, I will introduce the ability to print the QR outside the terminal, as a fallback for those edge cases where for some reason the terminal is not able to properly render the QR.

[2020-05-02 07:53] anoop-b opened #127 "Prefer local CSS over Remote"
I noticed that CSS [file](https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css) is fetched remotely,
- Could this be stored locally maybe as a local file or as a variable?
- Can cause issues when the devices isn't directly connected to the internet.

[2020-05-02 08:03] claudiodangelis commented on #123
Hello @puneethkanna, could you please describe what is the feature you are requesting?

Thanks!

[2020-05-02 08:05] puneethkanna commented on #123
I tried to receive multiple files from mobile, but it is not working, so we can add this feature.

[2020-05-02 08:15] claudiodangelis commented on #123
It should work, did you choose multiple files from the upload page? When you click the "Browse" button you can select multiple files. If the files are correctly selected, this is what you will see:
![image](https://user-images.githubusercontent.com/941963/80858997-c1d48900-8c5d-11ea-9acd-9c5568c82b0d.png)

[2020-05-02 08:31] puneethkanna commented on #123
Okay, got it. It is not working with Google Photos app, when I select from the app it says memory is too low

[2020-05-02 08:31] #123 closed

[2020-05-02 10:28] claudiodangelis commented on #127
That would make sense, yes.

We could have it inline with something like
[code]

[2020-05-02 11:44] claudiodangelis opened #128 "Generate shell completion scripts"
`cobra`, the library used to implement qrcp's command line, supports the generation of shell completion scripts for bash and zsh (and more?).

We should add the ability to generate such scripts for qrcp: https://github.com/spf13/cobra/blob/master/bash_completions.md

These scripts should also be included in the deb and rpm packages, as well as in the .tar.gz packages.

[2020-05-02 11:45] claudiodangelis commented on #126
Unfortunately I cannot reproduce the issue with Ubuntu Mono, I just tried and _It works on my machine™_.

I will leave this ticket open for a few days hoping to hear from other users.

Thanks

[2020-05-02 11:48] #115 closed

[2020-05-02 11:48] #119 closed

[2020-05-04 00:48] michal037 opened #129 "bad string for qrcp version"
I'm opening this issue because:

- [X] I have found a bug
- [ ] I want to request a feature
- [ ] I have a question
- [ ] Other

- My Go version is: None
- My [GOPATH](https://github.com/golang/go/wiki/GOPATH) is set to: None

---
qrcp version: 0.6.1
version string doesn't match the release:

![b1](https://user-images.githubusercontent.com/7441419/80930104-60bdca00-8db1-11ea-8e6c-628af34bfc42.png)

[2020-05-04 01:41] michal037 opened #130 "Incorrect status of file transfer indicator"
I'm opening this issue because:

- [X] I have found a bug
- [ ] I want to request a feature
- [ ] I have a question
- [ ] Other

- My Go version is: None
- My [GOPATH](https://github.com/golang/go/wiki/GOPATH) is set to: None

---

For different files, despite uploading, the indicator doesn't reach 100%.

[code]

[2020-05-04 02:00] michal037 opened #131 "receiving multiple files is cumbersome"
I'm opening this issue because:

- [ ] I have found a bug
- [X] I want to request a feature
- [ ] I have a question
- [ ] Other

- My Go version is: None
- My [GOPATH](https://github.com/golang/go/wiki/GOPATH) is set to: None

---

`qrcp -k reveive`

Receiving multiple files is cumbersome. I'm sending a file from my phone to my computer. After sending the file, the message 'done' appears. Everythi

[2020-05-04 02:11] michal037 opened #132 "available update status for qrcp version command"
I'm opening this issue because:

- [ ] I have found a bug
- [X] I want to request a feature
- [ ] I have a question
- [ ] Other

- My Go version is: None
- My [GOPATH](https://github.com/golang/go/wiki/GOPATH) is set to: None

---

It would be great if after entering the `qrcp version` command, the program would additionally check the update status through the GitHub API and print the string 'Avai

[2020-05-04 02:30] michal037 commented on #35
Maybe via light API, for example `qrcp --api`. Then qrcp will print an easily parseable text (process pipeline) that could be handled by additional GUI applications. This will allow GUI to be independent of core program.

---

@FrontMage

Check it out: https://github.com/schollz/croc
Add QR support and it's ready.

[2020-05-04 02:35] michal037 opened #133 "error message duplication in argumentless program call"
I'm opening this issue because:

- [X] I have found a bug
- [ ] I want to request a feature
- [ ] I have a question
- [ ] Other

- My Go version is: None
- My [GOPATH](https://github.com/golang/go/wiki/GOPATH) is set to: None

---
qrcp version: 0.6.1
Maybe just for argumentless program call, write only help? What do you think?

![fot1](https://user-images.githubusercontent.com/7441419/80932552-42a

[2020-05-04 06:53] claudiodangelis commented on #133
Hello @michal037, thanks for reporting these issues! I will take care of all of it in the next few days, cheers.

[2020-05-04 10:44] skuzzymiglet commented on #114
Hey @claudiodangelis, can `srv` accept a slice yet? If it does, I'll update my fork

[2020-05-05 03:17] MrHeer commented on #113
Do you think this is okay？
![image](https://user-images.githubusercontent.com/18595761/81032286-d749ed00-8ec1-11ea-9506-6794c6409cd2.png)

[2020-05-05 03:22] MrHeer commented on #109
Do you think this is okay？
![image](https://user-images.githubusercontent.com/18595761/81032286-d749ed00-8ec1-11ea-9506-6794c6409cd2.png)

[2020-05-05 05:56] claudiodangelis commented on #114
Hello @skuzzymiglet, refactoring that to accept a slice may take some time, as the "send" logic must be refactored as well to implement the loop.

[2020-05-05 06:19] claudiodangelis commented on #124
This will be available in release 0.6.2 which is in the works, thanks for reporting!

[2020-05-05 06:19] #124 closed

[2020-05-05 06:40] #129 closed

[2020-05-05 06:40] claudiodangelis commented on #129
This is fixed in version 0.6.2, thanks for reporting!

[2020-05-05 12:26] SuperSandro2000 commented on #109
I would move it to the right with some css

[2020-05-06 03:16] peter17ji opened #139 "QR code doddled too crude when screen scale resized"
I'm opening this issue because:

- [X] I have found a bug
- [ ] I want to request a feature
- [ ] I have a question
- [ ] Other
0.6.1 Windows binary(no Go env), Win10 2004 19041.208,screen scale 150%.
The QR code can't be recognized by usual QR code readers.
Wonder if can be fixed under current command-line version or can only be fixed in future GUI version.
![屏幕截图(2)](https://user-images.githubus

[2020-05-06 03:26] ssxwcz commented on #95
Hey, I also use Windows terminal, but the QR code cannot be displayed properly
go version go1.14.2 windows/amd64
Font: [CaskaydiaCove Nerd Font Mono](https://github.com/ryanoasis/nerd-fonts/releases/download/v2.1.0/CascadiaCode.zip)
![image](https://user-images.githubusercontent.com/43665491/81131502-f1e19c00-8f7d-11ea-9da6-04513725a82c.png)
I think it should be related to the font. I can display

[2020-05-06 05:35] claudiodangelis commented on #95
Thanks everyone for reporting. In my understanding, the issue with the QR in Windows is always related to the font used in terminal, either it is not monospace or line spacing is too high.

Since this is not really an issue with qrcp itself I'm considering closing this issue in a few days.

[2020-05-06 05:37] claudiodangelis commented on #139
Hello, thanks for reporting. This issue is related to the font used in Windows terminal. Can you please use a monospace font and let me know if that works for you?

Other people are reporting similar issues on Windows in this issue: https://github.com/claudiodangelis/qrcp/issues/95

[2020-05-06 05:45] claudiodangelis commented on #109
Hello @MrHeer, @SuperSandro2000, thanks for proposing. I would just resize the logo by adjusting the `<svg>`'s sizing attributes that are currently set to:

[code]

Half of the current values would be good enough I think.

[2020-05-06 05:55] #126 closed

[2020-05-06 05:56] claudiodangelis commented on #120
@Beegency I am closing this issue for now, if you are still running into issues please feel free to reopen it.

[2020-05-06 05:56] #120 closed

[2020-05-06 06:01] claudiodangelis opened #140 "Add the ability to show the QR outside the terminal"
Even though this is a command line application, many users are running into rendering issues that may be caused by the terminal font (see https://github.com/claudiodangelis/qrcp/issues/126, https://github.com/claudiodangelis/qrcp/issues/99, https://github.com/claudiodangelis/qrcp/issues/7, https://github.com/claudiodangelis/qrcp/issues/6), would be nice to have the ability to print the QR somewher

[2020-05-06 06:09] claudiodangelis opened #141 "Print a nicer error message on mobile"
When a _receive_ transfer fails (i.e.: destination directory is not writable), server sends the plain text error message as a response, which is too ugly for such a nice tool:

![Screenshot_20200506-080450_1](https://user-images.githubusercontent.com/941963/81142774-c73d1680-8f70-11ea-9a5c-623178fe7218.jpg)

[2020-05-06 06:44] claudiodangelis commented on #133
Fixed in 0.6.2 which will be released in a few days, thanks for reporting!
See the related PR #142

[2020-05-06 06:44] #133 closed

[2020-05-06 11:29] claudiodangelis commented on #127
This will land in 0.6.2 in a few more days, thanks for reporting!

[2020-05-06 11:29] #127 closed

[2020-05-06 15:39] MrHeer commented on #109
Thank you. I'll try.

[2020-05-06 15:55] MrHeer commented on #109
I feel much better after adjustment.
- Current:
![image](https://user-images.githubusercontent.com/18595761/81198876-8d155880-8ff4-11ea-9999-9b7f53be6eb5.png)
- After adjustment：
![image](https://user-images.githubusercontent.com/18595761/81199059-c3eb6e80-8ff4-11ea-92de-0729a5d68d4d.png)

[2020-05-06 16:23] claudiodangelis commented on #109
Yea it looks much better now. Do you want to open a pull request? Many thanks for taking the time to adjust the size!

[2020-05-07 02:04] MrHeer commented on #109
It's my honor.

[2020-05-07 06:40] #113 closed

[2020-05-07 14:29] #109 closed

[2020-05-08 13:23] #94 closed

[2020-05-10 21:44] zub commented on #122
I have written a pull request for homebrew, awaiting approval due to CI crashing due to home directory permissions.

[2020-05-11 01:34] Symous opened #147 "server closed when scan the qrcode"
I'm opening this issue because:

- [x] I have found a bug
- [ ] I want to request a feature
- [ ] I have a question
- [ ] Other

Server closed when scan the qrcode by my Android 8.0 phone(before the downloading), I didn't install Go on my macOS 10.14.6, But receiving files from mobile works fine.

[2020-05-11 05:08] tideillusion commented on #139
I meet the same problem.
![image](https://user-images.githubusercontent.com/46561353/81525751-65a8ed80-935e-11ea-91ab-f8994d1a9c56.png)
Also Win 10, in Chinese language env.
Changing the font in terminal makes no difference.

[2020-05-11 06:26] claudiodangelis commented on #147
Hello @Symous, thanks for reporting. Let me ask you a few questions:
1. Which browser did you use on Android?
2. What was, approximately, the size of the file(s) you wanted to send?
3. After scanning the code, did Android ask you to choose which browser you wanted to use?

Thanks,
C

[2020-05-11 06:30] claudiodangelis commented on #122
Hi @zub, thanks for taking the time to build the formula.
At startup, qrcp will read and/or write a configuration file in the home directory of the user, and at this time there is no way to override that behavior.
I can release a patch to allow an arbitrary configuration file, so you can choose to store it in a writable directory.
Could this work?

[2020-05-11 06:37] heyv5 commented on #147
hi @claudiodangelis, I also fount this BUG ,when i scan the qrcode,the browser will ask me is sure to download this file,but the qrcp is exit at the same time. when i add the -k tag is ok to download the file.

[2020-05-11 06:41] Symous commented on #147
@claudiodangelis Thanks for your help.
1. I use browser made in China based on WebKit 537.36 Chrome 62.0.3202.97
2. I try to send a 16KB png file
3. I use the browser to scan the QR-Code directly, so there is no selection dialog after scanning.

[2020-05-11 07:02] claudiodangelis commented on #147
@heyv5  I have seen this issue before but I could not reproduce it. Which type of file were you attempting to transfer?

@Symous thanks, could you please try passing the `-k` flag? (it means "keep alive") and tell me if it works?

I will investigate meanwhile.
Thanks for your patience,
C

[2020-05-11 07:09] heyv5 commented on #147
is PNG file too

[2020-05-11 07:13] Symous commented on #147
@claudiodangelis yes, it works fine after a add `-k` flag.

[2020-05-11 09:57] zub commented on #122
Hi! I wrote a patch this morning, letting the user specify location. Probably a nice feature to have in any case. It's been a while since I wrote any go, so please do give it a sanity check. :)

[2020-05-13 17:22] aint opened #150 "QR code is unscannable"
I'm opening this issue because:

- [x] I have found a bug - not sure
- [ ] I want to request a feature
- [x] I have a question
- [ ] Other

- My Go version is: `go version go1.14 darwin/amd64`
- My [GOPATH](https://github.com/golang/go/wiki/GOPATH) is set to: `/Users/aint/Projects/go
`

Hi there,

It looks like a QR code is unscanable. Please see a screenshot below:

![image](https://user-images.g

[2020-05-13 17:35] SuperSandro2000 commented on #150
I could scan the image without problems with the help of https://github.com/markusfisch/BinaryEye .

Your theme is inverting the qr code. Can you try it again with a theme with black background?

[2020-05-13 17:44] aint commented on #150
Yes, the QR code is perfect on a dark theme. Thanks for your help!

![image](https://user-images.githubusercontent.com/3179252/81845994-129b8a00-955a-11ea-8a8c-710405019a31.png)

Also, interesting why a QR code is inverted for a light theme. I'm using macOS terminal with a default theme.

[2020-05-13 18:01] SuperSandro2000 commented on #150
Cause characters are black instead of white or you couldn't read them.

[2020-05-13 18:01] SuperSandro2000 commented on #150
@claudiodangelis maybe you should recommend BinaryEye as it is quiet good even with inverted colors or not great looking QR codes.

[2020-05-15 06:17] claudiodangelis opened #151 "Add --config flag to pass the configuration file"
I'm opening this issue because:

- [ ] I have found a bug
- [x] I want to request a feature
- [ ] I have a question
- [ ] Other

User should have the ability to choose the location of the configuration file to be used.

Example:
Default configuration file, `~/.qrcp.json`, is used:
[code]
Custom configuration file is used:
[code]

[2020-05-16 13:49] imba-tjd opened #152 "[Win/PS] Fails when the folder name contains space and ends with backslash"
I'm opening this issue because:

- [x] I have found a bug
- [ ] I want to request a feature
- [ ] I have a question
- [ ] Other

Version: ` qrcp_0.6.2_Windows_x86_64.tar.gz`

1. Create a folder named `a a`.
2. Open Powershell.
3. type `qrcp '.\a a\'`.
4. You will get a wired `Error: CreateFile .\a a": The filename, directory name, or volume label syntax is incorrect.`
5. How do I find this? I crea

[2020-05-16 13:51] claudiodangelis commented on #152
Hello, thanks for reporting! This will be fixed in the next release 0.6.3!

[2020-05-16 16:46] skuzzymiglet commented on #114
Hey Claudio, I think I'll continue implementing this today or tomorrow. I'll just do the plain `-s` first, then I'll start implenenting your interface idea (with a loop). Whenever `Serve` takes slice I'll refactor accordingly

[2020-05-16 17:13] claudiodangelis commented on #114
Sounds good, thanks for your help. I may be unresponsive for the next few days.

Claudio

[2020-05-17 18:58] claudiodangelis commented on #152
Update: this will be released in 0.6.4

[2020-05-17 18:58] claudiodangelis commented on #151
Released in version 0.6.3

[2020-05-17 18:58] #151 closed

[2020-05-17 19:04] claudiodangelis commented on #122
Hello @zub, as per version [0.6.3](https://github.com/claudiodangelis/qrcp/releases/tag/0.6.3) you can now pass the `--config` file.

[code]

[2020-05-18 03:51] terev commented on #147
One thought I'm just throwing out there is if https://github.com/claudiodangelis/qrcp/blob/master/server/server.go#L171 is not synchronous (for a multipart response i believe it's not https://golang.org/src/net/http/fs.go?s=19375:19432#L268 ) the send handler goroutine would exit decrementing the waitgroup in turn shutting down the server. So maybe if a file is being sent as a multipart response t

[2020-05-18 05:21] terev commented on #147
Hrm i tried this and i was able to receive all parts before the server closed. I didn't consider that graceful shutdown would handle this case. I believe my hypothesis is disproved.

[2020-05-18 10:05] zub commented on #122
Great. Hopefully it'll be merged soon.

[2020-05-18 10:09] zub opened #155 "Source code release is not checksummed"
I'm opening this issue because:

- [ ] I have found a bug
- [x] I want to request a feature
- [ ] I have a question
- [ ] Other

The source tarball does not have a corresponsing checksum in checksums.txt. Please consider adding this. :)

[2020-05-19 09:59] Calinou commented on #155
The source tarball and zipball are generated automatically by GitHub, which is probably why it's not in `checksums.txt`.

Note that GitHub does *not* guarantee that automatically generated source archives will keep the same checksums over time. If you want to ensure this, you have to pack a source release yourself and upload it.

[2020-05-21 12:04] skuzzymiglet opened #156 "Command hooks"
I'm opening this issue because:

- [ ] I have found a bug
- [X] I want to request a feature
- [ ] I have a question
- [ ] Other

I think integrating command execution would be really convenient. Say you want to downsize a video and send it to your phone. Being able to run `ffmpeg` would be really useful. Also, maybe people want to manipulate files from their phone as they arrive - some things are

[2020-05-21 20:19] claudiodangelis commented on #156
Hi, thanks for this suggestion. While I'm not sure to fully understand what you have in mind, it doesn't seem to me something that should be implemented: `qrcp` stands for "qr copy", any feature that is not strictly related to copying files from one end to another should be considered as out of scope. Nevertheless, if you could help me understand a real use case that your idea would cover, even us

[2020-05-25 09:14] zub commented on #122
Fixed by homebrew/homebrew-core#54368.

[2020-05-27 14:03] app4deepin opened #157 "Can't download with Qualcomm Atheros QCA9377 802.11ac Wireless Network Adapter"
I'm opening this issue because:

- [ X] I have found a bug

I try QRCP with my 2 computers on deepin linux on both. my computer have the same configuration. Only the wifi card is different.

On my computer with Qualcomm Atheros QCA9377 802.11ac Wireless Network Adapter i can't receive files.

- My Go version is: go1.11.6 linux/amd64

[2020-05-27 20:12] shilangyu commented on #128
I would like to propose a different approach: Personally I don't like when the completions are bundled with the release. Looking for the files is often cumbersome.

As an example, [Deno](https://github.com/denoland/deno) provides a subcommand to generate them. Example: `deno completions fish > /my/fish/dir/deno.fish`. This ensures I don't have to look for the completions files, they can be generat

[2020-05-28 03:31] lzq-dingyuan opened #158 "windows prompts me that this application cannot run on your computer"
I'm opening this issue because:

- [ ] I have found a bug
- [ ] I want to request a feature
- [ true ] I have a question
- [ ] Other

When I download your software, windows prompts me that this application cannot run on your computer，I downloaded the windows version of the software from your website. (https://github.com/claudiodangelis/qrcp/releases   qrcp_0.6.3_Windows_i386.tar.gz && qrcp_0.6.3_W

[2020-05-28 06:34] claudiodangelis commented on #128
Thanks for the suggestion @shilangyu.

[2020-05-28 06:36] claudiodangelis commented on #158
Hello @lzq-dingyuan, sorry to hear you're running into troubles. Unfortunately I am not too much familiar with Windows, so I have no idea how could I start investigating this.

Could you please let me know if your issue is somewhat related to the scenario described in this StackOverflow post? https://stackoverflow.com/questions/26951762/i-cant-run-go-programs-anymore

Thanks,
C

[2020-05-28 06:38] claudiodangelis commented on #157
Hello @app4deepin, sorry to hear. Can you please paste here what is the URL generated by qrcp on the computer that fails the transfer?

[2020-05-28 06:42] claudiodangelis commented on #122
Thanks for submitting this tool to homebrew @zub!

[2020-05-28 06:42] #122 closed

[2020-05-28 07:34] lzq-dingyuan commented on #158
thank you for your reply! I will try it.

[2020-06-01 06:17] rongzedong commented on #95
run this qrcp.reg:

Windows Registry Editor Version 5.00

[HKEY_CURRENT_USER\Console\%SystemRoot%_system32_cmd.exe]
"CodePage"=dword:0000fde9
"FontFamily"=dword:00000036
"FontWeight"=dword:00000190
"FaceName"="Consolas"
"ScreenBufferSize"=dword:232900d2
"WindowSize"=dword:002b00d2

[2020-06-01 06:38] claudiodangelis commented on #95
Hello @rongzedong, thanks for this tip.

Is there anyone in this conversation who can successfully resolve the problem by using the specific configuration as per @rongzedong suggestion?

Thanks

[2020-06-02 04:51] jianboy commented on #95
I don't want modify registry. I tried another way.
![1](https://user-images.githubusercontent.com/11532015/83481217-bcbe6000-a4cf-11ea-890b-297f94e495c3.gif)

[2020-06-03 19:12] mikiTesf opened #161 "Missing flag in help information for qrcp send"
In the help information outputted by `qrcp help send`:
[code]
the lines with instructions on how to zip files or directories before sending them are missing the `-z` flag.

[2020-06-09 19:11] skuzzymiglet commented on #156
The idea is an optimised way to perform time-consuming tasks on files such as downscaling. I understand why the previous idea could be out of scope. Here are some other ways:

+ FIFO queue - the bash script can write the file names and they will be sent as they come, until the script writes a newline to the file
+ Spawn - spawn a command, each new file created is sent. `qrcp` stops when the proces

[2020-06-11 06:50] claudiodangelis commented on #161
Thanks for reporting @mikiTesf ! Will take care of it soon.

[2020-06-12 06:52] mikiTesf commented on #161
Awesome! A really cool software BTW.

[2020-06-12 06:52] #161 closed

[2020-06-14 04:53] michal037 opened #162 "comma in the file name prevents file transfer"
I'm opening this issue because: I have found a bug
qrcp 0.6.3

When I try to send a file with this command: `C:\Users\miich>qrcp C:\Users\miich\Desktop\a,b.pdf`.
The program shows the QR code and allows the phone to connect. But it immediately interrupts and the file is not downloaded. I noticed that the comma in the file name breaks functionality. The comma can be used in file names in Windows.

[2020-06-14 08:13] claudiodangelis commented on #162
Thanks for reporting, this will be fixed in the next patch release 0.6.4, cheers,
Claudio

[2020-06-29 14:07] claudiodangelis commented on #152
Can you please paste the error returned?
Thanks,
C

[2020-06-29 14:12] imba-tjd commented on #152
[code]

Important Note: that command works fine in pwsh 7.1.0-preview.4, and fails on 5.1.19041.1 which is the default version of PS in Win10 2004

[2020-06-29 14:19] claudiodangelis commented on #162
I'm not a Windows user so I cannot replicate the issue, however,  from what I read here the comma is a special character of CMD and should be treatred accordingly:
 https://sourcedaddy.com/windows-7/escaping-special-characters.html

[2020-06-29 14:19] #162 closed

[2020-06-29 14:33] claudiodangelis commented on #155
I've done a quick research and I can confirm what stated by @Calinou.
Thanks to both for taking the time to report and comment, cheers,

[2020-06-29 14:33] #155 closed

[2020-06-29 14:35] claudiodangelis commented on #158
Hello @lzq-dingyuan, did you have any success with this?
Thank you,
Claudio

[2020-06-29 14:51] claudiodangelis commented on #152
@imba-tjd thanks for clarifying. Since it works on a more recent version than 5.1.19041.1, I will consider this issue not to be related to qrcp. Is it possible to update pwsh on PS? I am considering stating in the README that qrcp is not supported on legacy PowerShell versions.

Thanks

[2020-06-29 14:55] imba-tjd commented on #152
For now pwsh must be installed manually and it works with legacy PS side by side, not the relationship between edgium and edge legacy.

[2020-06-29 15:13] claudiodangelis commented on #152
OH, I just realized that PS stands for PowerShell! I'm not a Windows user and for some reason I was thinking that it was the name of a device (like PlayStation) :facepalm:

Well, if you could take the time to test it on version 7.0.2, which appears to be the latest stable, and confirm it works, I could close this issue as it's related to a deprecated version of pwsh. I would really appreciate that

[2020-06-29 15:25] claudiodangelis commented on #152
I tried version pwsh 7.0.2 and worked great on Arch Linux:
![image](https://user-images.githubusercontent.com/941963/86024614-7c4df580-ba2d-11ea-8a13-e903a26701d5.png)

I will close this issue now, many thanks for taking the time to report it and assist me debugging.

Cheers,
Claudio

[2020-06-29 15:25] #152 closed

[2020-06-29 15:29] claudiodangelis commented on #157
Any news @app4deepin ?

[2020-06-30 01:29] imba-tjd commented on #152
Well, I need to make some more clarification.

pwsh is indeed built on top of the legacy PS, and legacy PS is indeed won't get any functional improvements.
But I don't treat legacy PS as a "deprecated version of pwsh", and I don't think Microsoft would replace the built-in PowerShell 5.1 with the new pwsh, personally.

Backslash is the directory seperator in Win. Legacy PS also suppport slash, but

[2020-06-30 06:31] claudiodangelis commented on #152
Ok, now it's clear. Let's apply a `won't fix` label for future reference.
Cheers!

[2020-06-30 14:34] anoop-b commented on #95
Can somebody on windows please test if this works ? [PR](https://github.com/claudiodangelis/qrcp/pull/163)

[2020-07-06 14:31] mikuta0407 opened #164 "Cannot use on Windows when Hyper-V is enabled"
When Hyper-V is enabled on Windows (for example, when using WSL2), NICs with IP address "192.168.0.*" are not displayed in the NIC list displayed by qrcp config.
It is displayed as 172.*.*.*, but it is not a valid URL and cannot be used.

[2020-07-06 15:14] claudiodangelis commented on #164
@mikuta0407 thanks for reporting.

Do you see the correct IP if you pass the `--list-all-interfaces` flag?

[2020-07-06 15:52] mikuta0407 commented on #164
I tried that option, but the NIC I wanted to use showed only IPv6 addresses.
(The address displayed by it can be used in Chrome on PC, but could not connect on iOS/Android. This may be a problem in my network settings.)
I use static IPv4 addresses, so I want to connect using IPv4 addresses if possible.

[2020-07-06 15:55] claudiodangelis commented on #164
OK, I'm confident a solution could be easily found. Please allow me a few days, I'm a bit busy these days.

Thanks!

[2020-07-07 06:18] #158 closed

[2020-07-07 17:05] mikuta0407 commented on #164
Sorry for the late reply.
It's such useful software that I don't mind waiting.
Thank you very much.

[2020-07-08 06:43] claudiodangelis commented on #164
@mikuta0407  could you please take a screenshot or paste here the IPv6 showed by the tool? Thanks

[2020-07-08 07:10] claudiodangelis commented on #164
@mikuta0407 also, did you try using the `-d [domain]` flag? Even if this is not the intended way to use it, you could try something like: `qrcp -d 192.168.0.X` , and the resulting URL will be `http://192.168.0.X:{port}/{...}`. It should work as long as your mobile is on the same network.

[2020-07-08 07:30] mikuta0407 commented on #164
I used "-d 192.168.0.90" and got the error "Error: invalid value for fully-qualified domain name".
![image](https://user-images.githubusercontent.com/13357430/86890016-a2634c00-c137-11ea-96eb-1efdd18cc426.png)

The list of IP addresses is as follows.
"イーサネット 6" is assigned the IP address actually used in the LAN.
![image](https://user-images.githubusercontent.com/13357430/86890163-db9bbc00-c137-11

[2020-07-12 17:19] issadarkthing opened #165 "Why does the file name changes when it gets transferred?"
I'm opening this issue because:

- [ ] I have found a bug
- [ ] I want to request a feature
- [x] I have a question
- [ ] Other

- My Go version is:  go version go1.14 linux/amd64
- My [GOPATH](https://github.com/golang/go/wiki/GOPATH) is set to: /home/terra/go

It would be better if the file name of transferred file doesn't get appended by a random numbers.
![image](https://user-images.githubuser

[2020-07-13 12:13] claudiodangelis commented on #165
Hello @issadarkthing, thanks for reaching out.
Honestly I'm not sure what's happening, qrcp does not append any random number to any transferred file.
If you are trying to receive a file into a folder which already has a file with the same name, then a `(1)` suffix (or _(2), (3), etc)) is added.

Are you experiencing this issue with `qrcp` or `qrcp receive`?

Thanks,
Claudio

[2020-07-13 13:09] issadarkthing commented on #165
qrcp receive

[2020-07-13 13:13] claudiodangelis commented on #165
Does it happen with all files? Can you exclude that the cause may be something other than qrcp?

[2020-07-13 13:21] issadarkthing commented on #165
Just found out my phone app does that. I should've check that

[2020-07-13 13:21] #165 closed

[2020-07-14 08:27] claudiodangelis commented on #164
Hello @mikuta0407, just wondering, what is the IP of the iOS/Android device you're trying to use qrcp with?

[2020-07-14 17:14] mikuta0407 commented on #164
@claudiodangelis  Devices other than PCs use DHCP to obtain IP addresses, so it is not fixed, but I think it is about "192.168.0.2~20".

[2020-07-23 08:45] sky96111 opened #166 "Feature request:Add config to enable a fixed address"
I'm opening this issue because:
Though random appendix can be disabled in config,but the difference between "send" and "receive" URL makes it difficult to write in a ntc tag(two tags are needed).

After disabling in receive the URL is like http://192.168.123.143:233/receive/qrcp
But in send it likes http://192.168.123.143:233/send/qrcp

Dose it possible to add a config to make the URL same in rece

[2020-07-23 08:47] sky96111 commented on #164
I enabled Hyper-V with qrcp working properly.Just "qrcp config" and reconfig qrcp interface with vEthernet.

[2020-07-24 06:47] claudiodangelis commented on #166
Hi @sky96111, thanks for requesting this feature! It requires some refactoring but it can be definitely done.

Cheers,
Claudio

[2020-07-26 15:18] barthr commented on #140
I think this can be done quite easily.

Instead of having `RenderString` print directly to the stdout the function need to be adjusted a bit (in a backwards compatible fashion)

[code]
Possible solution
[code]

Though the name `RenderString` doesn't really cover it anymore, this way we you can pass any output writer (which can be a file, or even a `http.ResponseWriter`.

[2020-08-02 16:32] mathieu-aubin opened #167 "Feature request: Follow symlinks by default"
I'm opening this issue because:

- [x] I have found a bug (or maybe an *oversight*??)
- [x] I want to request a feature
- [x] I have a question
- [ ] Other

It would make sense to follow symlinks by default as currently, the link itself is used as file for download which result in, according to the output of `file` command after download:

`somefile.tar.gz: very short file (no magic)`

i would ass

[2020-08-02 16:41] mathieu-aubin commented on #128
so does `npm`. Very curious tho... aren't completion scripts generally in a pretty much universal/standard path (for linux anyways) from distro to distro? Also, why would you want or need to 'look for the file' once it's properly installed, within the proper folder and most likely, loaded upon session/shell creation?

Dont get me wrong, i am not trying to say you are wrong or doing something you s

[2020-08-02 16:58] shilangyu commented on #128
I think you misunderstood me @mathieu-aubin (if you were replying to my comment). I install/update qrcp with `go`. Meaning I don't dabble in the release artifacts. So for me it's much easier to:

[code]

vs.

[code]

[2020-08-02 17:38] mathieu-aubin commented on #128
Which makes sense, totally, yes! I had blinds while focusing on releasers and packaging and yes, forgot that most still do install using go so fetching for a file is unpractical, at least alot more than being able to self-generate. Gotcha! Thanks for kickstarting my cafeine!

[2020-08-02 18:09] jmoscoso83 commented on #128
Sorry someone is hacking my accounts, so I dont know what this people are
doing behind me.

El dom., 2 ago. 2020 6:42 p. m., Mathieu Aubin <notifications@github.com>
escribió:

[2020-08-02 19:26] mathieu-aubin commented on #167
So i have tried some other stuff and it seems that...

Either this program has issues with serving already zipped files AND doesnt follow symlinks
OR... just has issue with serving zipped data

A .yml file, per example, returns correctly but a zipped file or a symlink ends up serving a "enpty" file. this the the curl output headers for a request to either a symlink or a zip file

[code]

I have tr

[2020-08-03 17:51] usernameisnull commented on #147
it's android's shit->[Android browser issue. Download makes two requests instead one](https://stackoverflow.com/questions/15226359/android-browser-issue-download-makes-two-requests-instead-one)

[2020-08-06 05:35] michaellee123 commented on #11
You can try this:https://github.com/michaellee123/EasyShare

[2020-08-06 05:35] michaellee123 commented on #94
You can try this:You can try this:https://github.com/michaellee123/EasyShare

[2020-08-06 05:36] michaellee123 commented on #96
You can try this:You can try this:https://github.com/michaellee123/EasyShare

[2020-08-10 06:55] claudiodangelis commented on #167
Thanks for pointing this out @mathieu-aubin, I never actually tried it with symlinks.

Will have a look later this week, cheers,
Claudio

[2020-08-11 07:11] claudiodangelis commented on #128
@shilangyu after some thinking I don't see a real benefit in having the ability to generate shell completion scripts implemented as a command, mostly because:
- it is not be a qrcp functionality
- it would only be executed once

Shell completion scripts can be part of the repository itself, not only part of the release. The workflow could be something like:

[code]

Makes sense?

[2020-08-11 07:28] shilangyu commented on #128
@claudiodangelis fair enough. Either way, looking forward for the completions :)

[2020-08-12 09:27] S96EA opened #168 "Unable to open URL when set interface to "any""
When I send a file by set interface to "any", I cannot open the URL in another computer.
`qrcp -i any xxx.pdf`

[2020-08-12 14:02] claudiodangelis commented on #168
Hi, in order to open the URL you must make sure that the other computer can reach the computer where qrcp is running through the external IP on the given port. If the computer when qrcp is running is a home computer connected to a router, you will have to set a port forwarding rule.

Can you please provide more information about the computers involved? For example, they are two home computers conn

[2020-08-13 01:10] S96EA commented on #168
These two computers are not in the same LAN. So I need to configure port forwarding rule? How should I do it?

Thanks！

[2020-08-13 07:04] claudiodangelis commented on #168
First of all, please note that every router has its own admin dashboard, so refer to the manual if you can't find the port forwarding settings. Let's say that this is your scenario:
- Your router IP: `192.168.1.1`
- Your computer IP: `192.168.1.5`
- Router's external IP is: `100.200.10.50`
- The port you want to forward: `18080`

The concept of port forwarding is simple: the traffic to `192.168.1.

[2020-08-13 10:07] S96EA commented on #168
Thank you so much !!

[2020-08-13 12:41] claudiodangelis commented on #168
Did it work? Can I close this issue?

[2020-08-15 13:41] #168 closed

[2020-08-20 10:13] scotow opened #169 "Hide port in QRCode to use qrcp behind a reverse proxy"
I'm opening this issue because:

- [ ] I have found a bug
- [x] I want to request a feature
- [ ] I have a question
- [ ] Other

Feature proposal:

Add an option allowing users to hide the port (and the colon) displayed in the QRCode and URL, allowing people to put qrcp behind a reverse proxy.

Problem example:

1. User creates a reverse proxy entry for qrcp.example.com and forward it to localhost

[2020-08-20 10:38] claudiodangelis commented on #169
Hi, thanks for suggesting, I like this a lot. Let me think about a couple possible implementation and will let you know.
It may take some days, I'm a bit busy lately.

Cheers,
Claudio

[2020-08-20 12:29] scotow commented on #169
Which proposal better fits the project? Adding an option to hide the port? Adding an option to specify a complete base URL? Or maybe something else?

[2020-08-20 12:54] claudiodangelis commented on #169
I like the second approach the most, honestly. However, we will have to figure out how not to confuse the end user about what is _used_ and what is just _displayed_.

[2020-08-25 07:15] claudiodangelis commented on #167
Hi @mathieu-aubin, I can't reproduce the issue, the symlinks are correctly followed and the zipped/tar.gz'd files correctly served.
Awkward question: did you try with an actual browser (desktop browsers are fine too)?
You may be hitting this if-clause: https://github.com/claudiodangelis/qrcp/blob/master/server/server.go#L139

[code]

This was implemented to support multiple requests coming from th

[2020-08-27 19:22] skuzzymiglet commented on #114
Hello Claudio,

I'm not sure this pull request would help. Most phones have unarchivers nowadays. I'm happy for others to finish of though

[2020-08-27 19:22] #114 closed

[2020-09-02 17:05] claudiodangelis commented on #95
Hello everyone, we released a new version, `0.6.4`, which adds the option to open the QR into a browser window:

[code]

This can be useful for those running into rendering issues in the terminal.
Cheers,
Claudio

[2020-09-02 17:10] claudiodangelis commented on #150
Hello everyone, just so you know, we just released a new version, `0.6.4`, which adds the `--browser` flag. With this flag set, the QR is also printed to a new tab of the default browser.

I will close this ticket for now.
Thanks,
C

[2020-09-02 17:10] #150 closed

[2020-09-02 17:11] claudiodangelis commented on #140
Props to @camgraff for implementing this feature! You can now pass the `--browser` flag and have a QR printed to your default browser.

[2020-09-02 17:11] #140 closed

[2020-09-02 17:13] jianboy commented on #95
**I developed a software to realize this function.**

![3](https://user-images.githubusercontent.com/11532015/92014791-61c42f80-ed82-11ea-892a-65d70687de8d.gif)

[2020-09-02 17:27] claudiodangelis commented on #128
Hello @shilangyu, I had a few second thoughts and decided to add the `completion` command as you suggested.
Would you like to give it a try? It's on the feat-shell-completion-scripts branch at the moment.

go get github.com/claudiodangelis/qrcp@feat-shell-completion-scripts

    qrcp completion fish | source

Thank you!
C

[2020-09-02 17:29] claudiodangelis commented on #95
Oh that's great!

[2020-09-02 17:30] claudiodangelis commented on #95
By the way, since I'm not hearing anymore about this issue, I will close the ticket for now.

Thanks everyone!

[2020-09-02 17:30] #95 closed

[2020-09-02 17:54] shilangyu commented on #128
Seems to be working great!

![image](https://user-images.githubusercontent.com/29288116/92018358-974a2800-ed44-11ea-9b7f-b81f5d89eb17.png)

![image](https://user-images.githubusercontent.com/29288116/92018869-471f9580-ed45-11ea-9958-1807fb281805.png)

[2020-09-03 11:00] claudiodangelis commented on #167
I will close this ticket now. FYI, the curl support is being added as per https://github.com/claudiodangelis/qrcp/pull/175

Thanks!
Claudio

[2020-09-03 11:00] #167 closed

[2020-09-03 11:01] claudiodangelis commented on #147
Technically this should be already covered in the code, though from time to time I get a similar issue.
Will review the code soon and push a fix for the next release.

Thanks,
C

[2020-09-03 11:02] #139 closed

[2020-09-04 14:59] claudiodangelis commented on #24
Hi everyone, FYI I opened a PR for adding HTTPS support: #176
I will be starting pushing commits over the weekend.
Thanks!

[2020-09-07 18:10] mxmilkiib commented on #147
I'm getting this with Firefox Android 80, I assumed it was because Firefox asks to confirm the download and that the app fails to take that into account, or maybe it's something else.

[2020-09-17 16:11] mubashir-rehman opened #177 "Provide a library version"
I'm opening this issue because:
I think there is a need to provide this amazing piece of art as a library to be used by other apps.

[2020-09-26 13:50] claudiodangelis commented on #24
The PR is ready for reviewers, just in case someone wants to give it a try.
Thanks!
C

[2020-09-26 13:50] imba-tjd opened #178 "Feature request: In memory zip"
I'm opening this issue because:

- [ ] I have found a bug
- [x] I want to request a feature
- [ ] I have a question
- [ ] Other

I have 12GB RAM, but my SSD's performance is poor. When I send large files located in my HDD, my two storages would be in 100% usage in terns. I think it would be good if we can make use of the RAM.

[2020-09-26 14:00] claudiodangelis commented on #178
Hi, I never thought about this before. Will do some research, thanks!

[2020-09-26 14:02] claudiodangelis commented on #177
Hello @mubashir-rehman, thanks for opening this feature request.
Please allow me some time to think of a possible implementation & use cases for this, thank you!

[2020-09-26 18:22] mubashir-rehman commented on #177
Thanks a lot for your response. Looking forward to it

[2020-10-08 13:26] #128 closed

[2020-10-08 13:38] claudiodangelis commented on #24
HTTPS support has been introduced in version [0.7.0](https://github.com/claudiodangelis/qrcp/releases/0.7.0), thanks everyone for suggesting the feature.

[2020-10-08 13:38] #24 closed

[2020-10-16 12:47] #110 closed

[2020-10-18 14:09] liyoubdu opened #182 "how to encode binary data into QRcode?"
how to encode binary data into QRcode?

[2020-10-18 14:11] claudiodangelis commented on #182
Hi, could you please explain the use case for this?

[2020-12-06 05:58] imba-tjd opened #185 "http: panic serving <ip>:<port>: sync: negative WaitGroup counter"
I'm opening this issue because:

- [x] I have found a bug
- [ ] I want to request a feature
- [ ] I have a question
- [ ] Other

My reproducible environment:

* Win10 20H2 x64 + qrcp_0.7.0_Windows_x86_64.tar.gz
* WSL Debian 10 + qrcp_0.7.0_linux_x86_64.tar.gz
* VM Debian 10 x86 + qrcp_0.7.0_linux_i386.tar.gz

[code]

Use `curl http://192.168.1.104:53817/send/yl0w` twice:

[code]

[2020-12-07 09:42] claudiodangelis commented on #185
Thanks, will have a look soon!

[2020-12-08 06:39] g8up opened #186 "How to set path for windows?"
I'm opening this issue because:

- [ ] I have found a bug
- [ ] I want to request a feature
- [x] I have a question
- [ ] Other

- My Go version is: _go version go1.11.2 windows/amd64_
- My [GOPATH](https://github.com/golang/go/wiki/GOPATH) is set to: _D:\go-path_

I have set the config `path` as `d:/myfile`，but the file is still saved at `C:\Users\Administrator`。

- .qrpc.json
[code]

[2020-12-09 20:19] jedahan opened #187 "XDG_CONFIG_HOME support?"
I'm opening this issue because:

- [x] I want to request a feature
- My Go version is: 1.15.4
- My [GOPATH](https://github.com/golang/go/wiki/GOPATH) is set to: /home/micro/.cache/go

---

If XDG_CONFIG_HOME is defined, it would be nice to default the qrcp.json to `${XDG_CONFIG_HOME}/qrcp/config.json` or `${XDG_CONFIG_HOME}/qrcp.json`.

[2020-12-12 18:43] luckman212 opened #188 "on macOS 11.0.1, with 0.7.0 from homebrew, transferred data is empty"
I'm opening this issue because:

- [x] I have found a bug
- My Go version is: `go version go1.15.6 darwin/amd64`
- My `GOPATH`is set to: `/Users/luke/golang`

I installed `qrcp` via Homebrew and ended up with 0.7.0
configured with `qrcp config` and tried a few times to transfer some small files (text, png) to my iPhone, but every time ended up with a blank white page. I then tried opening the URL

[2020-12-22 14:15] spin6lock opened #189 "Support opening link in server-side ?"
I'm opening this issue because:

- [X] I want to request a feature

- My Go version is: go version go1.15.1 linux/amd64
- My [GOPATH](https://github.com/golang/go/wiki/GOPATH) is set to:

Hi, thanks for the great work of qrcp ! I would like to read long article from PC instead of mobile phone. So I add an option for `qrcp receive`. Mobile phone scan code and paste link. Then qrcp open link by brow

[2020-12-22 14:52] claudiodangelis commented on #189
Hello @spin6lock, thanks for this proposal.
While this is technically feasible, it will be a bit out of this tool's purpose. I believe there are more efficient and mobile-native ways of achieving the same thing, for example by sharing the link via email, or using one of the hundreds bookmarking services.
However, in `qrcp` there is already a feature to allow transferring of text snippets, maybe yo

[2020-12-22 14:52] #189 closed

[2020-12-22 14:57] claudiodangelis commented on #189
Something like this would work:

Run this in the command line:
[code]

And enter "link" in the title field (the .txt extension is created automatically), and the URL in the text field.

Please let me know if that can be a good workaround for you.
Thanks!

Claudio

[2020-12-23 10:59] spin6lock commented on #189
@claudiodangelis Thanks for your reply, this workaround works for me:+1:

[2021-01-15 04:31] anyunpu commented on #188
I found a problem with a space behind the link address obtained by the broom, which prevented the download from starting normally（我发现一个问题,扫码获取的链接地址后面有空格,导致无法正常下载）

[2021-01-15 07:55] claudiodangelis commented on #188
Hello @luckman212 , @anyunpu  not sure what to say at this time, please allow me some time to research.
Thanks,
C

[2021-01-15 07:56] claudiodangelis commented on #187
Hello @jedahan, sorry for the late reply, this seems to be interesting.
I will consider this for the next release, thanks!
C

[2021-01-15 07:57] claudiodangelis commented on #186
Hello @g8up, this is interesting.
Did you try with `D:\myfile` (forward slash rather than backward's)?

[2021-01-16 13:50] g8up commented on #186
# Case 1
- .qrcp.json
[code]
- echo
[code]

# Case 2
- .qrcp.json
[code]
- echo in cmd
[code]
I got a `404 page not found ` after scanning on mobile phone.

[2021-01-18 18:02] claudiodangelis commented on #186
Hello, I believe there is some confusion here.
The "path" in the configuration file is not the path where the files are downloaded.
At this time you can only specify it by using the `-o` or `--output` flag, for example:

[code]

or

[code]

If you don't specify the output directory, the current directory is chosen.
There is an open pull request about introducing a "default output" directory, but t

[2021-01-18 18:02] #186 closed

[2021-01-20 14:01] claudiodangelis opened #190 "Sending directory doesn't work if it contains a socket file"
If a directory contains a socket file, the creation of the ZIP archive fails.

[2021-01-26 08:33] wwwCielwww opened #191 "Cannot Open the Link Generated"
Hi! Thank you very much for the great work!

My OS is Windows 10, and I am using an Android phone.

Following the README, a QR code for sending the file is successfully generated in command line. However, I failed to open the link through my phone:  it says
`Your Internet access is blocked ...`

I tried to shut down my firewalls but it didn't work. Could anyone give me some clues on how to address

[2021-01-27 18:12] claudiodangelis commented on #191
Hi @wwwCielwww, sorry to hear.
Are you using a VPN in Windows?

[2021-02-01 14:30] wwwCielwww commented on #191
Ahh nope.
The IP address section of the link generated seems weird: http://[2408:832f:20a0:6d10:1032:7ee4:4911:8]:56804/send/qq9c
Maybe it has something to do with this?

[2021-03-04 22:49] noelforte opened #192 "Encountering "system cannot find the file" when running "qrcp receive""
I'm opening this issue because:

- [x] I have found a bug

- My Go version is: ` go1.16 windows/amd64`
- My [GOPATH](https://github.com/golang/go/wiki/GOPATH) is set to: (no output returned)

When I run `qrcp receive`, the following error message is thrown:

[code]

Calling `qrcp v0.7.0` from Windows PowerShell running on:

[code]

[2021-03-10 12:21] zk8514 opened #193 "Download failed"
i can receive the file from my phone, but if i send something to my phone, i can't download it successfully

[2021-03-21 20:11] sdetweil commented on #192
did u give it a path to the output?    --output path_to_folder

[2021-03-21 20:14] sdetweil opened #194 "--interface parm doesn't work from commandline... but does take parm from conf file"
I'm opening this issue because:

- [X] I have found a bug

keeps saying it needs to identify the interface
use config and select one, written to conf file, then it works..

[2021-03-21 20:15] sdetweil opened #195 "doc incorrectly mentions $HOME/qrcp.json, its $HOME/.qrcp.json"
I'm opening this issue because:

- [ ] I have found a bug
- [ ] I want to request a feature
- [ ] I have a question
- [x ] Other  - doc

[2021-03-22 02:26] noelforte commented on #192
Yep. Still a bust.

[code]

[2021-03-22 02:30] sdetweil commented on #192
@noelforte   I think u would use the linux naming ./Desktop
(the / works in internal api calls.)

[2021-03-22 02:47] noelforte commented on #192
Nope that doesn't change anything, still getting a `The system cannot find the file specified.`

[2021-03-22 02:50] sdetweil commented on #192
what if u try just .

[2021-03-22 02:55] noelforte commented on #192
same error. it appears to be trying to launch a directory that doesn't exist, the extra space after `open` in `error starting the server: open : The system cannot find the file specified.` would imply a path being there, a la `open <pathname>:` but there isn't one, so whatever is getting called isn't passing through appropriately.

[2021-03-22 03:04] sdetweil commented on #192
it does look for ~/.qrcp.json as the default config file
so maybe in the current folder with contents of  { "port":"0" }
and parms -c ./qrcp.json

[2021-03-29 12:52] LavikLee opened #196 "interface address is weird.."
I'm opening this issue because:

- [ ] I have found a bug
- [ ] I want to request a feature
- [X] I have a question
- [ ] Other

My OS is windows 10, I have a weird thing when I use qrcp. I choose interfaces and the address of WLAN looks weird, like " WLAN ([2402:7500:58e:bcec:c8a9:673:4fab:8107])" . I can receive or send any file by this address. How do I figure out it?

[2021-04-14 14:43] #35 closed

[2021-04-14 14:43] #42 closed

[2021-04-14 14:44] claudiodangelis commented on #97
Sorry everyone, I'm closing this due to inactivity.

[2021-04-14 14:44] #97 closed

[2021-04-14 14:45] #182 closed

[2021-04-14 14:48] claudiodangelis commented on #196
That's an IPv6, not sure why it's not picking up the IPv4.
Can you run the config wizard with the `--list-all-interfaces` flag, scroll through the list and see if you find your IPv4?

[code]

![image](https://user-images.githubusercontent.com/941963/114730417-24287b80-9d41-11eb-873f-ca204acbacc5.png)

Thanks,
Claudio

[2021-04-14 14:49] claudiodangelis commented on #195
Good catch! I fixed it in the master branch.
Thanks

[2021-04-14 14:49] #195 closed

[2021-04-14 14:57] claudiodangelis commented on #192
Hello @noelforte, I believe this has nothing to do with the destination directory, but rather to the files of your private key and certificate used for starting the server.

Did you set the path of those two files correctly in the config? Does it work with `--secure=false`?

Thanks,
Claudio

[2021-04-14 15:00] claudiodangelis commented on #191
Please try running the config wizard with the `--list-all-interfaces` flag, and look through the interfaces to find the one with the right IP.

[code]

Please let me know if that helps, thanks.

[2021-04-14 15:02] claudiodangelis commented on #188
@luckman212 rather than using `interface: any`, can you try with your actual interface?

[2021-04-14 15:30] wwwCielwww commented on #191
It works like a charm. Thanks a lot for your effort!!

[2021-04-14 15:30] #191 closed

[2021-04-14 15:49] sdetweil commented on #194
using v0.7.0 on both linux and raspian.

weird.. i JUST retested on both and it works..  never mind...

(but I only started using qrcp in february)

[2021-04-14 15:49] #194 closed

[2021-04-14 16:05] sayanarijit opened #198 "Improve quit action for better integration"
I'm opening this issue because:

- [ ] I have found a bug
- [x] I want to request a feature
- [ ] I have a question
- [ ] Other

- My Go version is: _(paste the output of `go version` and remember that qrcp requires at least version 1.8 of Go)_
- My [GOPATH](https://github.com/golang/go/wiki/GOPATH) is set to: _(paste the output of `echo $GOPATH`)_

Hi this is a great tool. I am trying to integrat

[2021-04-14 20:54] luckman212 commented on #188
@claudiodangelis thanks for trying.

changing interface from `any` to `en0` did not work.
I get `ERR_CONNECTION_REFUSED` when trying the URL
i checked with `netstat` and found that qrcp is binding to my ipv6 address only, not listening on ipv4 at all. That seems to be where the bug lies................

[2021-04-15 06:21] Supresun commented on #196
I have the same problem with Laviklee. My computer has both ipv4 and ipv6 address, but the qrcp just only show ipv6 address, although I added the` --list-all-interfaces` command option. It seems doesn't help.

[2021-04-15 06:28] claudiodangelis commented on #196
@Supresun thanks for the feedback, will try to figure out how to reproduce (I'm not a Windows user).

[2021-04-15 06:30] claudiodangelis commented on #188
Hello @luckman212, thanks, I'm hearing about similar issues.
Let me research something, will try to get back to you soon.

[2021-04-15 06:31] claudiodangelis commented on #198
Hello @sayanarijit, thanks for the suggestion, will try to think about something.

 `xplr` looks really cool btw!

[2021-04-15 06:37] claudiodangelis commented on #193
hello @zk8514, do you receive any error?

[2021-04-15 06:39] sayanarijit commented on #198
Thanks, let me know if I can help in any way.

[2021-04-15 06:40] sayanarijit commented on #198
FYI I'm currently using [this workaround](https://github.com/sayanarijit/xplr/wiki/Hacks#share-files-via-qr-code-on-lan).

[2021-04-15 06:52] claudiodangelis commented on #198
Are you binding the stdin of the process (qrcp in this case) to the stdin of the os? My feeling is that CTRL+C is captured by the shell running xplr, not qrcp's!

[2021-04-15 06:56] claudiodangelis commented on #198
I know nothing about Rust, but this seems that you should add `.stdin(Stdio::piped())` somewhere around https://github.com/sayanarijit/xplr/blob/main/src/app.rs#L1257 ?

[2021-04-15 07:21] sayanarijit commented on #198
I'm using `Stdio::inherit()` in https://github.com/sayanarijit/xplr/blob/0c82a645d98c6fde0aa8047079dfddbfb0eb02df/src/main.rs#L48 to be able to interact with the subprocess.

[2021-04-15 07:24] sayanarijit commented on #198
But I see the point. Other programs like `ncdu` captures the `stdin` so `xplr` doesn't exit.

[2021-04-15 07:26] sayanarijit commented on #198
Maybe I can use some kind of runner that will capture the `stdin` and manage `qrcp`. Though, I'm not sure if there's anything like that.

[2021-04-15 07:27] claudiodangelis commented on #198
@sayanarijit got it, mm, probably `qrcp` should capture the stdin then...
I will research later!

[2021-04-15 10:46] claudiodangelis commented on #198
@sayanarijit it seems like closing `ncdu` with CTRL+C makes `xplr`  exit as well...

[2021-04-15 10:51] sayanarijit commented on #198
Ah, you're right... I confused `ncdu` with [diskonaut](https://github.com/imsnif/diskonaut). Different programs different implementations of `ctrl+c` :D.

[2021-04-19 06:39] sayanarijit commented on #198
FYI [this is how sfz](https://github.com/weihanglo/sfz/pull/63) solved the issue.

[2021-04-19 06:57] claudiodangelis commented on #198
Hello @sayanarijit, I honestly don't like that solution.
I already implemented the server shutdown on "q" pressing, will push a new release in the next hours/days.

Cheers,
Claudio

[2021-04-19 06:59] sayanarijit commented on #198
Awesome. Thanks for the effort.

[2021-04-19 07:12] claudiodangelis commented on #198
Well, apparently it only took a few minutes! Version 0.7.1 is out and has the "exit with 'q'" ability.
Please let me know if everything looks ok now, cheers!

[2021-04-19 08:59] sayanarijit commented on #198
![qrcp-quit](https://user-images.githubusercontent.com/11632726/115209673-74c21f00-a11b-11eb-8652-b160f25e7d5c.gif)

Unfortunately it's not working on Manjaro.

bin: https://github.com/claudiodangelis/qrcp/releases/download/0.7.1/qrcp_0.7.1_linux_x86_64.tar.gz
os:

██████████████████  ████████   sayanarijit@katana
██████████████████  ████████   ------------------
██████████████████  ████████   OS:

[2021-04-19 09:01] sayanarijit commented on #198
Also, I think it'd be better to prompt users to use `q` for **graceful shutdown** so that they don't go for `ctrl+c` in the first attempt.

[2021-04-19 10:31] claudiodangelis commented on #198
Mm, I must have missed something because when I tested it worked. Not sure what happened!
About CTRL+C, it's already tied to a graceful shutdown process, thanks for pointing it out.

[2021-04-19 12:30] claudiodangelis commented on #198
Should be ok now

[2021-04-19 12:57] sayanarijit commented on #198
Awesome :+1: . It works. But `ctrl+c` stopped working from `xplr`. So, I think the way you are capturing `q`, you can also capture `ctrl+c` and then `q` and `ctrl+c` should behave th esame way.

[2021-04-19 12:58] sayanarijit commented on #198
Actuallt `ctrl+c` stopped working altogether.

[2021-04-19 13:00] sayanarijit commented on #198
BTW before the next release, you can of-course ping me if you need an extra hand for testing.

[2021-04-19 13:12] ATrogolo opened #200 "Feature Request - Add option to save files in a default folder"
I'm opening this issue because:

- [ ] I have found a bug
- [x] I want to request a feature
- [ ] I have a question
- [ ] Other

Hi Claudio,
I'm opening this PR to follow up our mail conversation when I suggest you to add an option to set a path where 'received' files will be saved.
The current scenario is: the file will be downloaded in the same folder you're launching `qrcp`.
It would be nice if

[2021-04-19 15:53] claudiodangelis commented on #200
Hello, this feature has just been implemented and is available as per version 0.8.0.
Thanks again for suggesting this feature, ciao!

Claudio

[2021-04-19 15:53] #200 closed

[2021-04-19 15:53] claudiodangelis commented on #198
Ultimately fixed! Thanks again for the suggestion!

[2021-04-19 15:53] #198 closed

[2021-04-19 16:00] sayanarijit commented on #198
Confirmed. Everything works fine now. Updated the command in [wiki](https://github.com/sayanarijit/xplr/wiki/Hacks#sendreceive-files-via-qr-code-on-lan).

[2021-04-19 16:08] claudiodangelis commented on #187
Hello @jedahan, the XDG support is now available thanks to the work of @samhh.
Thanks both for suggesting and implementing the feature.

Claudio

[2021-04-19 16:08] #187 closed

[2021-04-21 22:49] chenrui333 opened #201 "qrcp 0.8.1 test build failed"
I'm opening this issue because:

- [x] I have found a bug
- [ ] I want to request a feature
- [ ] I have a question
- [ ] Other

- My Go version is: _(paste the output of `go version` and remember that qrcp requires at least version 1.8 of Go)_
- My [GOPATH](https://github.com/golang/go/wiki/GOPATH) is set to: _(paste the output of `echo $GOPATH`)_

---

👋 trying to build the latest release, but r

[2021-04-22 08:19] claudiodangelis commented on #201
Hello @chenrui333, I recently added a keyboard listener to capture the "q" key press and initiate a graceful shutdown.
In order for that function to work, it needs to connect to the current terminal, which apparently cannot be done in the Github CI/CD, see the failure reason of the `qrcp` command: https://github.com/Homebrew/homebrew-core/runs/2386151398#step:7:75

I will release a hotfix later to

[2021-04-22 13:00] claudiodangelis commented on #201
@chenrui333 I release version 0.8.2 which should not break the build.
Cheers

[2021-04-23 07:03] chenrui333 commented on #201
let me give 0.8.2 a try, thanks @claudiodangelis !

[2021-04-23 17:54] chenrui333 commented on #201
It works, thanks @claudiodangelis!

[2021-04-23 17:54] chenrui333 commented on #201
Closing the issue.

[2021-04-23 17:54] #201 closed

[2021-04-24 13:07] luckman212 commented on #188
Hi @claudiodangelis

I'm on v0.8.2 now (thank you) and setting interface to `any` works around the IPv6 problem. See also #196

But it's odd that the IPv4 isn't being detected on interfaces with dual-stack V4/V6 IPs. E.g. here I have output on my Mac that has 2 interfaces- en0 (Ethernet) that has both a v4 (192.168.20.40) and a v6. Only the v6 is shown. The WiFi interface (en1) does not have v6 en

[2021-04-24 16:00] claudiodangelis commented on #188
@luckman212 hi, found the bug, which is actually a regression. Will release a new version soon. Thanks!

[2021-04-24 16:51] claudiodangelis commented on #188
@luckman212 new version is out, should hopefully fix the issue for you and many more!
Please let me know if it works... thanks!

[2021-04-24 16:53] claudiodangelis commented on #196
Hello @Supresun @LavikLee, I just released a new version https://github.com/claudiodangelis/qrcp/releases/tag/0.8.3 which should fix the issue for you.
Can you please give it a try and let me know?

Cheers,
Claudio

[2021-04-24 16:54] claudiodangelis commented on #185
Hello @imba-tjd  this should be fixed now.
Can you please confirm? Thanks!

[2021-04-24 17:01] claudiodangelis commented on #164
Hello @mikuta0407, I fixed the issue where the IPv6 was showed in place of IPv4.
Can you please confirm you can use that now?
Thanks

[2021-04-24 17:07] #157 closed

[2021-04-24 17:09] claudiodangelis commented on #131
After some thinking I decided not to implement this. You have the options of uploading multiple files anyway.
Thanks for suggesting!

[2021-04-24 17:09] #131 closed

[2021-04-24 17:22] claudiodangelis commented on #188
Oops, I actually introduced a new bug, which is now fixed in version 0.8.4.

[2021-04-24 17:45] luckman212 commented on #188
It will probably take a little while for the new version to be picked up by Homebrew, but I'll check as soon as it hits, thanks @claudiodangelis !

[2021-04-24 22:38] michal037 commented on #131
You're right, but it's a little slower in my opinion.

What do you think about this?:

https://github.com/claudiodangelis/qrcp/blob/b2293923e8acc33563c19604949628895998122b/pages/pages.go#L223

After sending the file to the PC, send `Done page` as `Upload page` + popup with a message that the file has been successfully transferred

This would reduce the number of page refreshes for uploading multi

[2021-04-25 06:44] mikuta0407 commented on #164
Thanks for the fix. I tried it with 0.8.4 and it worked!
Thank you!

[2021-04-25 07:08] claudiodangelis commented on #164
@mikuta0407 I'm so glad to hear! It was a trivial bug, thanks for your months long patience!
Claudio

[2021-04-25 07:20] #164 closed

[2021-04-25 08:16] #196 closed

[2021-04-29 08:10] LavikLee commented on #196
Thanks a lot. I enabled the IPv6 protocol and tried the new qrcp. It looks
everything is fine, gets the IPv4 address correctly.

claudiodangelis ***@***.***> 于 2021年4月25日周日 上午12:53写道：

[2021-05-09 20:24] sayanarijit opened #202 "Support reading paths from stdin"
I'm opening this issue because:

- [ ] I have found a bug
- [x] I want to request a feature
- [ ] I have a question
- [ ] Other

Hi again, is there any possibility of supporting reading file paths from stdin like [pipe-rename](https://github.com/marcusbuffett/pipe-rename)?

This will solve two main problems:

- I won't have to deal with [escaping file paths](https://github.com/sayanarijit/xplr/wik

[2021-05-13 13:15] claudiodangelis commented on #202
Oh, very good suggestion indeed. I also want to add something like

[code]

[2021-05-16 11:27] TheSYNcoder opened #203 "Installation Bug on MacOS Big Sur - Binary cannot be verified."
I'm opening this issue because:

- [X] I have found a bug

- My Go version is: _(go version go1.16.4 darwin/amd64)_
- My [GOPATH](https://github.com/golang/go/wiki/GOPATH) is set to: _(/Users/shuvayan/mygo)_

During the installation of qrcp on MacOs Big Sur,

I downloaded the binary and extracted and put the binary in path, after doing `chmod +x`.
However on running
[code]

MacOs comes with a prom

[2021-05-16 23:47] SuperSandro2000 commented on #203
Thats not a bug but Apple trying to sell expensive stuff.

Please follow https://github.com/hashicorp/terraform/issues/23033#issuecomment-540417305

[2021-05-17 03:13] TheSYNcoder commented on #203
Hey thanks it worked.

[2021-05-17 03:13] #203 closed

[2021-05-18 23:28] noelforte commented on #192
@claudiodangelis weird, it seems to be working now, just tried again to download it and transfer a file, worked without a hitch. maybe there was something misconfigured or perhaps it was using https and I didn't realize it. Either way I'm good to go now. Thanks!

[2021-05-18 23:28] #192 closed

[2021-05-19 05:38] claudiodangelis commented on #192
Ah, really good to hear!

[2021-05-25 14:07] effeottantuno opened #204 "Error on pi zero"
I'm opening this issue because:

- [ ] I have found a bug
- [ ] I want to request a feature
- [ ] I have a question
- [X] Other

- My Go version is: _(go version go1.14.4 linux/arm)_
- My [GOPATH](https://github.com/golang/go/wiki/GOPATH) is set to: _(/home/pi/go)_
- Im using a raspberry pi zero via ssh and  when i try to use qrcp i get the error: "Instruction not allowed "

[2021-05-25 16:15] effeottantuno commented on #204
i followed the guide, i tried with all the arm packages

[2021-05-26 09:44] RoggeOhta commented on #193
I got the same issue.
I don't specify anything. I just use it `qrcp send something`. It will normally print out the qr code, and my phone can detect it, but when I go to this address my downloader says "file not found".
No other error message.

[2021-05-26 09:49] claudiodangelis commented on #193
Hello, can you please show me a screenshot of the terminal when the browser prints the 404?

[2021-05-26 09:53] RoggeOhta commented on #193
Latest version.
![image](https://user-images.githubusercontent.com/19422794/119640333-17706a80-be4b-11eb-9122-d0b564eb26c1.png)

And here is a new situation. my phone just doesn't start anything anymore.
![image](https://user-images.githubusercontent.com/19422794/119640512-471f7280-be4b-11eb-8057-161dd145ac19.png)

[2021-05-26 09:55] RoggeOhta commented on #193
And sometimes it will output this.
![image](https://user-images.githubusercontent.com/19422794/119640767-851c9680-be4b-11eb-8ef5-619e1c6b8eaa.png)

[2021-05-26 09:57] claudiodangelis commented on #193
Thank you very much, I think I know where the bug could be.
Can you please test transferring a file whose filename has no spaces?

[2021-05-26 10:02] RoggeOhta commented on #193
Sure.
![image](https://user-images.githubusercontent.com/19422794/119641347-21469d80-be4c-11eb-826b-aa21991d05d5.png)
This time it will start downloader correctly, but 404 appear again. My downloader is ADM and the below toast says "Client error( Could not found this file)"
![image](https://user-images.githubusercontent.com/19422794/119641472-476c3d80-be4c-11eb-93ce-c946aa3b971e.png)

[2021-06-19 17:54] amitpatelx opened #206 "Windows 10 Pro - Site is not reachable"
I am trying to use qrcp(qrcp_0.8.4_Windows_x86_64.tar.gz) on Windows 10 Pro 20H2 64 bit

I am trying to receive a file from mobile/other PC on the same wifi network. The command line shows the QR code just fine but when I scan on mobile/open link in other PC, the browsers keep on waiting and finally times out with an unreachable error.

I have used default options without changing anything. I trie

[2021-06-25 14:15] claudiodangelis commented on #206
Hello @amitpatelx, I'm not a Windows user, but I believe you should not enable anything.
Can you please paste here an URL of the qrcp output?

If you don't want to paste it publicly you can send me an email claudiodangelis@gmail.com .

Thanks,
C

[2021-07-03 03:21] ttys3 commented on #193
I got a fixup. tested it works fine.

ref https://github.com/claudiodangelis/qrcp/pull/207

[2021-07-31 04:35] eggeek commented on #128
Most of the case, we just need `qrcp send <file>` or `qrcp recive <dir>`,
It could be better to add `'(-)*:file or directory:_files'` in `_qrcp_send` and `_qrcp_recive` completion, so that we can complete file/dir name.

[2021-10-04 17:14] iainsgillis commented on #206
Hi, @amitpatelx  --

I had to explicitly allow qrcp (installed via scoop) to communicate through Windows Defender Firewall.

I'm currently running 64-bit Win11Pro v21H2.

Screenshot of my current (working) configuration:

![image](https://user-images.githubusercontent.com/10743672/135894695-92ef4251-2dc0-4d26-abc5-6d3b68a71f3a.png)

[2021-11-20 04:03] lonble opened #210 "404 is returned if keep-alive is enabled for sending"
I'm opening this issue because:

- [x] I have found a bug
- [ ] I want to request a feature
- [ ] I have a question
- [ ] Other

- ~~My Go version is: _(paste the output of `go version` and remember that qrcp requires at least version 1.8 of Go)_~~
- ~~My [GOPATH](https://github.com/golang/go/wiki/GOPATH) is set to: _(paste the output of `echo $GOPATH`)_~~

I installed `qrcp-bin` from AUR, so GO i

[2021-11-21 11:27] claudiodangelis commented on #210
Hello @lonble, thanks for reporting! This is definitely a bug.
I will have a look some time next week.

Thanks,
Claudio

[2021-11-23 06:03] Freed-Wu opened #211 "[typo] dpf should be pdf"
In <https://github.com/claudiodangelis/qrcp/blob/master/README.md?plain=1#L223>

[code]

dpf should be pdf.

[2021-11-23 10:24] claudiodangelis commented on #211
That's certainly a typo. Thanks for spotting, I will change it at the next release :-)

Claudio

[2022-01-02 03:46] Goolchin opened #214 "210672221.QR"
MTN irancell:
{+989010135679.Q/R-210672221}.,. ;{+989127240093.MCI hamrahavall};]

- My Go version is: _(paste the output of `go version` and remember that qrcp requires at least version 1.8 of Go)_
- My [GOPATH](https://github.com/golang/go/wiki/GOPATH) is set to: _(paste the output of `echo $GOPATH`)_

[2022-01-02 03:51] Goolchin commented on #214
<Title>:MTN-IRANCELL.;{+989010135679.Q/R-210672221.,. ;+989127240093.MCI hamrahavall};]

[2022-01-02 03:58] Goolchin commented on #214
<Data>:MTN Irancell:{(+98) 9010135679.Q/R-210672221.،. ;(+98) 9127240093.MCI hamrahavall};] Is Invalid Null*

[2022-01-09 16:14] chitvan1988 opened #220 "Could not upload more than 9 files from iOS 12.4.1"
I'm opening this issue because:

- [ ] I have found a bug

- My Go version is: _(paste the output of `go version` and remember that qrcp requires at least version 1.8 of Go)_
- My [GOPATH](https://github.com/golang/go/wiki/GOPATH) is set to: _(paste the output of `echo $GOPATH`)_
Used qrcp.exe latest 0.8.4 on windows  Could not upload more than 9 files from iOS 12.4.1.
And also browser crashes if

[2022-01-12 21:13] dybdeskarphet opened #221 "Translation Support?"
I'm opening this issue because:

- [ ] I have found a bug
- [x] I want to request a feature
- [ ] I have a question
- [ ] Other

Hello,
I really like qrcp and I want it to be more popular around the world and I'm hoping to do it by translating, are you planning to add translation (po files) support in the future?

[2022-01-13 09:25] claudiodangelis commented on #220
Hello @chitvan1988 thanks for reaching out.
Which error do you get trying uploading more than 9 files? Do you receive an error from qrcp or from the browser?

Thanks,
C

[2022-01-13 09:28] claudiodangelis commented on #221
Hello @dybdeskarphet, this is actually an interesting proposal.
I had a quick look around and it seems that this package may help managing the internationalization of the program: https://github.com/nicksnyder/go-i18n

However, it does not seem to support PO files. I will have a look in the next weeks.

Thanks,
Claudio

[2022-01-19 02:04] lonble commented on #210
There has been no new release for a long time. Has it been fixed in the latest code?

[2022-01-19 08:13] claudiodangelis commented on #210
Hello,
this hasn't been fixed yet. Apologies,
Claudio

On Tue, 2022-01-18 at 18:04 -0800, Lonble wrote:

[2022-01-23 20:06] Naheel-Azawy commented on #35
In case anyone lands here in the future, here's my wrapper
https://github.com/Naheel-Azawy/qrcp-win-ui

[2022-02-28 14:59] starryloki opened #223 "Directory Traversal Vulnerability"
While qrcp works on receive mode, uploader can edit the file name in HTTP request and add "../". Meanwhile, qrcp doesn't check legality of file name which lead to directory traversal.
Env: qrcp-0.8.4, Windows 10 x86_64, Ubuntu 20.04 x86_64
Poc:
<img width="952" alt="image" src="https://user-images.githubusercontent.com/69268043/156000336-2b3019b6-4cdb-40ed-a305-4e48bf3628e9.png">
<img width="1067"

[2022-02-28 17:58] claudiodangelis commented on #223
Hello, many thanks for spotting & reporting, I will focus on this very soon.
C

[2022-03-03 12:57] claudiodangelis commented on #223
This was apparently an issue on the `mime/multipart` package of Go itself, which has been fixed 10 months ago, a few weeks after the latest release of qrcp.

Links:
- https://go-review.googlesource.com/c/go/+/313809
- https://github.com/golang/go/commit/784ef4c53135644d70f3476a4bd90010b9acff66

I added a patch, should be all good now, can you please confirm? Thanks

[2022-03-03 13:36] rebelmarkii9410661155 opened #225 "Transfer file qr code"

[2022-03-03 14:43] JamieSlome opened #226 "Trying to get in touch regarding a security issue"
Hey there!

I belong to an open source security research community, and a member (@whokilleddb) has found an issue, but doesn’t know the best way to disclose it.

If not a hassle, might you kindly add a `SECURITY.md` file with an email, or another contact method? GitHub [recommends](https://docs.github.com/en/code-security/getting-started/adding-a-security-policy-to-your-repository) this best prac

[2022-03-03 14:55] #226 closed

[2022-03-03 16:04] JamieSlome commented on #226
@claudiodangelis - woo, that was a lightning-fast response! ⚡

Awesome, I will get an e-mail sent over to you shortly, otherwise you can view the report directly here:

https://huntr.dev/bounties/a18509d8-2a81-4566-9aca-37e3f2b73cac/

It is private and only accessible to you 👍

[2022-03-05 03:57] #223 closed

[2022-03-05 12:25] claudiodangelis commented on #225
Hello, could you please provide some information? Thanks!

[2022-03-11 18:45] #211 closed

[2022-03-11 18:46] #225 closed

[2022-03-11 18:51] claudiodangelis commented on #202
Hello, would something like this be an option?

[code]

[2022-03-11 18:55] claudiodangelis commented on #204
Hello, sorry for the long wait. I have no idea to be honest, maybe you can try reaching out to the [GoReleaser team](https://github.com/goreleaser) , which makes the tool I use to release qrcp.

Thanks.

[2022-03-11 18:55] #204 closed

[2022-03-12 01:28] sayanarijit commented on #202
Actually this is what I'm currently using. But when there are multiple inputs, this method has two issues I have listed.

- Having to properly quote/escape file paths with white spaces manually. Some tools allow null character `\0` as a separator. But it's much better to be able to pass newline separated paths via stdin.
- The number of commandline arguments that can be passed are limited and the

[2022-03-12 11:09] claudiodangelis commented on #202
Ok thanks, can you please paste here a sample content of `XPLR_PIPE_RESULT_OUT` containing multiple inputs?
I will use it as a test string to implement a solution.

Thanks!
C

[2022-03-12 11:15] claudiodangelis commented on #188
Hello everyone, is anyone still encountering this issue? If so, please re-open this ticket.
Thanks!

[2022-03-12 11:15] #188 closed

[2022-03-12 12:07] sayanarijit commented on #202
The value of `$XPLR_PIPE_RESULT_OUT` is the path to a text file that contains one or more newline delimited file paths that are selected (to be sent via qrcp).

So if you `cat $XPLR_PIPE_RESULT_OUT`, you get:

[code]

And so on.

So, I'm currently using something similar to `qrcp send $(cat $XPLR_PIPE_RESULT_OUT)`. ([See here](https://github.com/sayanarijit/qrcp.xplr/blob/d8cf4f9b57ae10b59c213eb46

[2022-03-12 15:43] claudiodangelis commented on #210
Hello @lonble , I'm trying to reproduce the issue to no avail. There is actually a bug which causes an error but that happens _after_ serving the file, which is being correctly served anyway.

I tried with a browser and curl and the scenario you describe doesn't seem to happen.

Please feel free to reopen the issue if you're still having the issue with the latest release (0.8.6), thanks!

[2022-03-12 15:43] #210 closed

[2022-03-12 17:12] lonble commented on #210
I downloaded version 0.8.6 from release. 404 still appears when I use the browser to access, but when I use curl to access, the content can be displayed, but I found something else in the output of `qrcp`
[code]

[2022-03-12 17:21] claudiodangelis commented on #210
Yes, I'm deploying a fix for this as per #185. I'm also replacing the 404 with a proper error message and http status. Should be available in a few hours as per version 0.9.0.
Thanks!
C

[2022-03-12 17:21] claudiodangelis commented on #210
Also, very important question: do you disabled cookies in your browser? That could explain the 404.

[2022-03-12 17:51] claudiodangelis commented on #185
Fixed now, thanks again for reporting!
C

[2022-03-12 17:52] #185 closed

[2022-03-13 01:53] lonble commented on #210
I did get an error message about cookies, but I didn't disable cookies.
I don't understand why cookies are needed, `--keep-alive` is useful for sharing files to multiple users, but it's not possible yet.
Btw, everything works fine when using curl.

[2022-03-14 15:46] claudiodangelis commented on #210
Hello @lonble, cookies are needed because some browser may issue multiple requests for downloading big files, and we leverage on cookies to actually wait for all requests to be fulfilled before shutting down the server.

However, when `--keep-alive` is enabled we don't really need this workaround, so I just issued a new release, `0.9.1`, which skips the cookie part if that flag is on.

Please let

[2022-03-14 17:04] claudiodangelis commented on #130
Hello, apologies for the long wait. I will close this issue for now. The progress is displayed using a third party library, investigating the issue is not worth spending time on for now.

Thanks!
C

[2022-03-14 17:05] claudiodangelis commented on #141
I will close this for now, as I'm thinking of managing the mobile "frontend" as a full fledged web application.

[2022-03-14 17:05] #141 closed

[2022-03-14 17:05] claudiodangelis commented on #147
Hello, are you still experiencing this issue? If so, please feel free to reopen the issue. Thanks!

[2022-03-14 17:07] claudiodangelis commented on #177
Hello @mubashir-rehman, after some thinking, I don't see how this application could be integrated as a library into other applications. The best way to integrate is probably just to simply start the program as a sub process.

Thanks!
C

[2022-03-14 17:07] #177 closed

[2022-03-14 17:09] claudiodangelis commented on #206
Hello @amitpatelx, are you still getting this issue with the latest version? If so, please feel free to re-open this issue.
Thanks!
C

[2022-03-14 17:09] #206 closed

[2022-03-14 17:37] claudiodangelis commented on #202
Ah ok, now I understand. What about a command line flag to read the list of files to be transferred from a file?
You would use it like:

[code]

[2022-03-15 02:56] lonble commented on #210
Hi @claudiodangelis, Thanks for the quick work, in version 0.9.1 everything works fine when `--keep-alive` is enabled.
When `--keep-alive` is not enabled, everything works fine with browser, however, when accessed with curl the server does not shut down as expected.

[2022-03-15 06:26] sayanarijit commented on #202
Yes... that definitely works for this use case. IMO, reading from `stdin` (at-least by default) is more flexible, as it will make integrating qrcp with many CLI tools (other than xplr) easier.

For e.g. in Linux, with the `--from-file` option, one can do:

[code]

By using `-` as a shortcut to `--from-file /dev/stdin` it'd look like:

[code]

But the second approach allows us to abstract away the

[2022-03-15 06:39] sayanarijit commented on #202
It may also be possible to use `- <PATH>` as a direct shortcut to `--from-file <PATH>` and if `<PATH>` is not given, the lines will be read from the stdin.

[2022-03-15 11:37] #202 closed, assigned to nobody

[2022-03-16 16:36] claudiodangelis opened #234 "Reorganize documentation"
Things to add:
- new development workflow
  - feature branches
  - Makefile
  - explain release process
- new contributing guidelines (i.e.: consider starting a "Discussion" rather than "Issue" to propose ideas)
- review README for possible typos

[2022-03-16 16:36] claudiodangelis opened #235 "Add a Makefile to help with release process"

[2022-03-17 03:32] lonble opened #236 "Do not override "interface" in the configuration file"
I'm opening this issue because:

- [ ] I have found a bug
- [ ] I want to request a feature
- [x] I have a question
- [ ] Other

I found a strange thing. When running `qrcp` for the first time, a `config.json` file is created, which holds the default software configuration. Everything looks normal except `interface`. `interface` does not hold the default like other options, but the interface I use

[2022-03-17 14:20] claudiodangelis opened #237 "Use spf13/viper for managing the configuration file"
Requirements:
- YAML file
- default config location
- config location to override with a flag
- env variables to override config

[2022-03-19 20:46] 30rus commented on #104
- @claudiodangelis ext install claudiodangelis.dun-theme

[2022-03-22 17:31] claudiodangelis opened #238 "Add ability to set transferred file name"
As per a private conversation with an user, it would be useful to have the possibility of specifying the name of the transferred file.

For a single file:
[code]
For multiple files:

[code]

Open questions:
- should the file extension be automatically added?

[2022-03-22 17:32] #238 closed, assigned to nobody

[2022-03-31 10:31] beng7 opened #241 "Android apk?"
I'm opening this issue because:

- [ x] I want to request a feature

Hi
Any chance of an android version please?
Thnaks

[2022-04-04 21:52] claudiodangelis commented on #241
Hello, I think the concept of a disposable web server reachable through QR code could be ported to a mobile platform, however, I don't have the skills for developing an Android app.
Thanks for the idea!

[2022-05-03 11:17] zzdts opened #243 "Not work on ubuntu22.04 when send files"
The latest release version  and i build the latest bin dose not work when i send file.

When i run "qrcp send xxx" cmd on term,  it shows the QR code, but when i scan the QR code ,the qrcp program output "new req..." then  program exit , and i get the exit code is zero.

- My Go version is:  go1.18.1 linux/amd64

[2022-05-18 19:17] sdetweil opened #244 "is there a way to configure the message displayed on the mobile device after file transfer"
I'm opening this issue because:

- [ ] I have found a bug
- [x ] I want to request a feature
- [x ] I have a question
- [ ] Other

after the selected file uploads  the user gets a message that the file was uploaded to

/temp/sssss/xxxx/foo/bar/

which they don't  know anything about.. (and don't need to know)

can I configure that message?

[2022-05-19 13:09] sdetweil commented on #244
answer is not currently.

'Done' page template just shows what server provides.

[2022-05-19 22:53] sdetweil commented on #244
so, I got this working, at the moment, chop off the path, .. but this is really useless from pic from my phone as the names are nothing..  well, sorta.. date/timestamp

Successfully transferred to:
20220429_160014.jpg

at least for me I would  really prefer

Successfully transferred 1 files

thats just a different template and the count of files, vs their names.

[2022-05-20 08:00] claudiodangelis commented on #244
Thanks for your feedback @sdetweil, I'm a bit busy at the moment. Will get back to you as soon as I get some free time.
Cheers,
C

[2022-05-20 15:30] sdetweil commented on #244
no problem

heres the summary  (count)  view

![Screenshot_20220520-102704_Chrome](https://user-images.githubusercontent.com/1498142/169561748-29a097f5-610c-4307-b473-b72db8162a0b.jpg)

[2022-05-24 18:15] Kostia2004 commented on #243
In the configuration file located at $HOME/.config/qrcp/config.json you must set the keepAlive parameter to true. Then the server will continue to run until it is stopped manually

[2022-08-04 12:16] WAQAS1214 opened #245 "Java Developer Job"
I'm opening this issue because:

- [ ] I have found a bug
- [ ] I want to request a feature
- [ ] I have a question
- [ ] Other

- My Go version is: _(paste the output of `go version` and remember that qrcp requires at least version 1.8 of Go)_
- My [GOPATH](https://github.com/golang/go/wiki/GOPATH) is set to: _(paste the output of `echo $GOPATH`)_

[2022-08-04 12:16] WAQAS1214 commented on #245
Rate:$82 hour
• Requirements
o Excellent development, coding and scripting skills ie Python, Ruby, Java, JavaScript, PHP, Bash Shell, and Node.js
o Expert knowledge of REST+JSON, web services, SQL and Swagger
o Experienced in BAU security automation strategies
o Demonstrated creative, critical and independent thinking capabilities and troubleshooting skills
o Strong Communication and Collaboration

[2022-08-04 13:11] #245 closed

[2022-08-07 15:08] Curtion opened #246 "Not working properly in some browsers"
I'm opening this issue because:

- [x] I have found a bug
- [ ] I want to request a feature
- [ ] I have a question
- [ ] Other

- My Go version is: _(paste the output of `go version` and remember that qrcp requires at least version 1.8 of Go)_
- My [GOPATH](https://github.com/golang/go/wiki/GOPATH) is set to: _(paste the output of `echo $GOPATH`)_

Some browsers will pop up a download box. At thi

[2022-08-16 11:34] claudiodangelis commented on #246
Thanks for reporting. I will try to reproduce the issue on those two browsers. In the meantime, as a workaround, you can use the `--keep-alive` flag, which will leave the tool running.

Please let me know if that helps, thanks!

[2022-08-16 11:37] claudiodangelis commented on #244
Hello,
sorry for the long delay. At this time it's not possible to configure a message, as the HTML is hardcoded in the tool.
I would love to separate the HTML from the server code, and ideally have a separate repository for the web client, but I'm afraid this is going to take a very long time.

If you want, you can change the code yourself and rebuild the tool, the location of the HTML is in http

[2022-08-16 11:37] #244 closed

[2022-08-16 11:45] claudiodangelis opened #247 "In the Releases page, add quick links for most common platforms"
At the moment the Releases page shows a big list of assets, it would be handy to include a section with links to the most common platform/processor (Ubuntu, OS X, etc).

[2022-08-16 11:52] claudiodangelis commented on #243
Hello @zzdts , thanks for reporting, this seems like a big bug.
Please follow the advice of @Kostia2004, and change the `keepAlive` to true in the configuration file.

Alternatively, you can use the `--keep-alive` flag on the command  line, for example:

[code]

[2022-08-16 12:05] claudiodangelis commented on #236
Hey, sorry for the huge delay! Yep, this seems to be a bug. However, I want to change the configuration file format from JSON to YAML in the next release, I will work on this too.

Thanks for reporting!

[2022-08-16 12:05] claudiodangelis commented on #220
I will close this for inactivity. Please feel free to reopen, thanks!

[2022-08-16 12:05] #220 closed

[2022-08-18 13:27] Liampour opened #248 "Using qrcp from python"
Hello
Congratulations for your amazing work!!
I am trying to build a python script that captures an image and sends it via qr.
How can I use qrcp to create qr code from python script?
Cheers!!

[2022-08-28 09:44] fenilgmehta commented on #178
[Sweech](https://play.google.com/store/apps/details?id=com.sweech&hl=en&gl=GB) on android does this when we download folder from another device.

[2022-09-10 12:59] claudiodangelis commented on #243
@zzdts which mobile browser are you using? I want to try to reproduce this issue.
Thanks,
C

[2022-09-14 18:06] TrevCan opened #250 "[minor] DeadLink in Docs"
I'm opening this issue because:

- [x] I have found a bug

The webpage <https://claudiodangelis.com/qrcp/> has a `LICENSE` link at the end: <https://claudiodangelis.com/qrcp/LICENSE>. It returns a 404 error in Github Pages.

[2022-09-29 23:21] sdetweil opened #251 "releases doesnt show x86 version, unless u push the dropdown"
I have a magicMirror module that uses your app.
https://github.com/sdetweil/uploadPics
and for smart-mirror
https://github.com/sdetweil/sm-uploadPics

i pull the releases page , and get the  version that matches the platform..

except x86-64 is hidden unless u push the dropdown , which I can't do from the script..
is there an alternative list?

[code]

[2022-09-30 09:42] claudiodangelis commented on #251
Hi,
you could scrape somewhere the latest release number (currently `0.9.1`) and then scrape this URL which shows the full list:

[code]

[2022-09-30 15:27] #251 closed

[2022-10-02 10:33] gpxlnx opened #252 "Error with many arguments in util/util.go"
When I try to compile the package I get the following message

"
src/github.com/claudiodangelis/qrcp/util/util.go:65:38: too many arguments in call to zip.Add
have(string, *os.File, fs.FileInfo)
want(string, []byte)
"
I would like to know why several arguments are passed and if this could not be changed on line 65 of the util/util.go file?

Thank you and congratulations for the work

- [ ] I have

[2022-10-02 12:14] claudiodangelis commented on #252
Hi, I have seen this before, I think it's related to a mismatching version of the github.com/jhoonb/archivex library, which the util package relies upon.

[2022-10-22 11:34] claudiodangelis commented on #250
Good catch! Will fix it soon :-)

[2022-10-22 11:36] claudiodangelis commented on #248
Hello @Liampour , apologies for the super late reply!
If your goal is to use `qrcp` just for creating the QR code and still having all the transfer logic in Python, then `qrcp` is not the right tool for that.
Please have a look at the `qrcode` Python package, you can find a good tutorial here: https://towardsdatascience.com/generate-qrcode-with-python-in-5-lines-42eda283f325

Hope this helps, and

[2022-10-22 11:36] #248 closed

[2022-10-23 15:06] claudiodangelis commented on #132
I'm working on this.

[2022-11-01 19:56] AlessioDevv opened #255 "sharing within the local network"
I'm opening this issue because:

- [ ] I have found a bug
- [x] I want to request a feature
- [ ] I have a question
- [ ] Other

I was wondering if it was possible to expand the sharing of files not only to the local network but also to the outside perhaps using [ngrok](https://ngrok.com/) to create a URL to be used outside without opening ports

[2022-11-15 15:10] egemenertugrul opened #259 "[enhancement] Right-click context menu shortcuts for qrcp (Windows)"
I realized that this tool would be much more useful with the added feature of using right-click context menu on selected items/directories to send/receive files.

So I created some helper scripts to add & remove the necessary shortcuts and registry keys & values on Windows machines:

Attached: [qrcp_context_menu_helper.zip](https://github.com/claudiodangelis/qrcp/files/10013730/qrcp_context_menu_h

[2022-11-19 02:56] gkathir15 opened #260 "Wake lock within file-upload webpage - Android"
I'm opening this issue because:
- [enhancement ] Mobile - Android
- request [wake lock](https://developer.mozilla.org/en-US/docs/Web/API/WakeLock) within the file upload webpage, this will make the screen while the webpage is on.
- this could in avoiding any interruptions in upload if any.

[2022-11-22 17:11] claudiodangelis commented on #259
This is fantastic, thanks!
Will review soon and let you know.
Thanks,
C

[2022-11-26 16:21] nikitabobko opened #261 "qrcp should allow files in shell completion"
I'm opening this issue because:

- [ ] I have found a bug
- [x] I want to request a feature
- [ ] I have a question
- [ ] Other

- My Go version is: `go version go1.19.3 linux/amd64`
- My [GOPATH](https://github.com/golang/go/wiki/GOPATH) is set to empty string
- My `qrcp version` output is: `qrcp 0.9.1 [date: 2022-03-14T15:44:28Z]`

Steps to reproduce:
1. type `qrcp file-prefix-`
2. Press `<Tab>`